In [3]:
import pandas as pd 
import numpy as np

## 1. Book tags data reduction and preparation

In [6]:
bt = pd.read_csv( 'data/book_tags.csv')

In [7]:
bt.head()

   goodreads_book_id  tag_id   count
0                  1   30574  167697
1                  1   11305   37174
2                  1   11557   34173
3                  1    8717   12986
4                  1   33114   12716

In [8]:
tuples = [tuple(x) for x in bt.to_numpy()]

In [9]:
tuples

[(1, 30574, 167697),
 (1, 11305, 37174),
 (1, 11557, 34173),
 (1, 8717, 12986),
 (1, 33114, 12716),
 (1, 11743, 9954),
 (1, 14017, 7169),
 (1, 5207, 6221),
 (1, 22743, 4974),
 (1, 32989, 4364),
 (1, 27199, 3857),
 (1, 11590, 3456),
 (1, 18886, 3374),
 (1, 6953, 2408),
 (1, 22753, 1881),
 (1, 24960, 1821),
 (1, 1691, 1742),
 (1, 6857, 1560),
 (1, 15965, 1309),
 (1, 6888, 1095),
 (1, 26785, 1093),
 (1, 6828, 1027),
 (1, 2104, 1022),
 (1, 9221, 987),
 (1, 20774, 984),
 (1, 7457, 958),
 (1, 25765, 858),
 (1, 15169, 853),
 (1, 3389, 836),
 (1, 1128, 828),
 (1, 6895, 798),
 (1, 11505, 792),
 (1, 17124, 748),
 (1, 22034, 744),
 (1, 11370, 738),
 (1, 11497, 730),
 (1, 19974, 718),
 (1, 3392, 701),
 (1, 22973, 673),
 (1, 25234, 659),
 (1, 20849, 653),
 (1, 33009, 612),
 (1, 29452, 600),
 (1, 32623, 552),
 (1, 10644, 552),
 (1, 31617, 547),
 (1, 5751, 534),
 (1, 16427, 532),
 (1, 5090, 522),
 (1, 25152, 505),
 (1, 29011, 484),
 (1, 24964, 474),
 (1, 20939, 465),
 (1, 33012, 464),
 (1, 14024, 450),
 (1, 20824, 449),
 (1, 22689, 446),
 (1, 6960, 445),
 (1, 18045, 440),
 (1, 3371, 433),
 (1, 33124, 416),
 (1, 21989, 410),
 (1, 615, 399),
 (1, 26897, 392),
 (1, 32654, 386),
 (1, 11491, 384),
 (1, 11550, 368),
 (1, 25151, 364),
 (1, 18851, 354),
 (1, 16799, 351),
 (1, 27535, 348),
 (1, 17213, 347),
 (1, 33165, 338),
 (1, 26138, 334),
 (1, 11574, 324),
 (1, 30521, 324),
 (1, 25150, 314),
 (1, 30573, 312),
 (1, 2106, 305),
 (1, 6838, 300),
 (1, 17129, 297),
 (1, 10197, 294),
 (1, 25770, 294),
 (1, 8055, 289),
 (1, 25167, 284),
 (1, 1120, 283),
 (1, 7852, 281),
 (1, 26842, 281),
 (1, 25153, 279),
 (1, 10641, 279),
 (1, 6920, 276),
 (1, 11579, 274),
 (1, 22352, 273),
 (1, 20781, 272),
 (1, 6914, 268),
 (1, 5444, 266),
 (1, 18913, 265),
 (1, 11595, 264),
 (1, 6829, 263),
 (1, 24092, 258),
 (2, 30574, 24549),
 (2, 8717, 3516),
 (2, 11305, 3441),
 (2, 11557, 3423),
 (2, 6857, 1591),
 (2, 6888, 1098),
 (2, 2104, 981),
 (2, 9221, 975),
 (2, 11743, 972),
 (2, 33114, 865),
 (2, 3389, 851),
 (2, 5207, 812),
 (2, 22034, 764),
 (2, 17124, 756),
 (2, 22743, 744),
 (2, 11370, 739),
 (2, 14017, 734),
 (2, 11497, 706),
 (2, 22973, 688),
 (2, 20849, 621),
 (2, 33009, 617),
 (2, 29452, 613),
 (2, 32623, 566),
 (2, 31617, 562),
 (2, 5751, 525),
 (2, 16427, 519),
 (2, 24964, 492),
 (2, 29011, 473),
 (2, 33012, 464),
 (2, 6960, 452),
 (2, 22689, 449),
 (2, 32989, 448),
 (2, 20939, 447),
 (2, 14024, 443),
 (2, 20824, 438),
 (2, 18045, 436),
 (2, 21989, 428),
 (2, 3371, 426),
 (2, 33124, 401),
 (2, 32654, 388),
 (2, 11491, 380),
 (2, 26897, 376),
 (2, 17213, 371),
 (2, 11590, 365),
 (2, 33165, 362),
 (2, 11550, 359),
 (2, 27535, 344),
 (2, 16799, 342),
 (2, 11574, 335),
 (2, 25150, 329),
 (2, 6838, 319),
 (2, 17129, 316),
 (2, 25153, 309),
 (2, 22753, 296),
 (2, 7852, 296),
 (2, 26842, 294),
 (2, 2106, 289),
 (2, 6920, 287),
 (2, 24960, 278),
 (2, 10641, 276),
 (2, 6914, 269),
 (2, 6829, 268),
 (2, 24092, 261),
 (2, 11376, 259),
 (2, 1120, 256),
 (2, 18886, 253),
 (2, 11595, 248),
 (2, 14951, 243),
 (2, 7404, 242),
 (2, 609, 240),
 (2, 18913, 234),
 (2, 4834, 232),
 (2, 14064, 230),
 (2, 3379, 225),
 (2, 1540, 225),
 (2, 20547, 217),
 (2, 26138, 213),
 (2, 5776, 213),
 (2, 25149, 212),
 (2, 11340, 211),
 (2, 26295, 211),
 (2, 25147, 209),
 (2, 25235, 209),
 (2, 16805, 207),
 (2, 11978, 203),
 (2, 33121, 203),
 (2, 25011, 202),
 (2, 32996, 201),
 (2, 5481, 200),
 (2, 26771, 199),
 (2, 11773, 199),
 (2, 6976, 195),
 (2, 3392, 194),
 (2, 11643, 194),
 (2, 11290, 194),
 (2, 6949, 193),
 (2, 5180, 193),
 (2, 20125, 193),
 (2, 33023, 192),
 (2, 19983, 189),
 (3, 30574, 496107),
 (3, 11557, 48220),
 (3, 11305, 47478),
 (3, 8717, 44640),
 (3, 33114, 14984),
 (3, 11743, 13239),
 (3, 14017, 8559),
 (3, 5207, 7917),
 (3, 22743, 6066),
 (3, 22743, 6065),
 (3, 32989, 5276),
 (3, 27199, 5140),
 (3, 11590, 4769),
 (3, 18886, 4302),
 (3, 6953, 3828),
 (3, 24960, 3163),
 (3, 6857, 2571),
 (3, 1691, 2430),
 (3, 22753, 2350),
 (3, 7457, 1898),
 (3, 6888, 1771),
 (3, 6828, 1639),
 (3, 25765, 1563),
 (3, 19974, 1558),
 (3, 15965, 1475),
 (3, 2104, 1453),
 (3, 26785, 1380),
 (3, 6895, 1284),
 (3, 17124, 1245),
 (3, 20774, 1227),
 (3, 3389, 1143),
 (3, 11505, 1095),
 (3, 9221, 1082),
 (3, 22034, 1082),
 (3, 1128, 1049),
 (3, 3392, 1032),
 (3, 15169, 1025),
 (3, 25152, 1011),
 (3, 11497, 1006),
 (3, 22973, 923),
 (3, 25234, 906),
 (3, 11370, 905),
 (3, 24964, 820),
 (3, 20849, 791),
 (3, 25151, 786),
 (3, 5090, 761),
 (3, 10644, 743),
 (3, 33009, 739),
 (3, 32623, 725),
 (3, 6960, 701),
 (3, 5751, 693),
 (3, 29452, 667),
 (3, 31617, 664),
 (3, 20939, 657),
 (3, 3371, 627),
 (3, 11550, 611),
 (3, 29011, 608),
 (3, 20824, 598),
 (3, 18045, 594),
 (3, 25150, 591),
 (3, 21989, 576),
 (3, 16427, 574),
 (3, 25153, 571),
 (3, 33012, 556),
 (3, 11491, 556),
 (3, 22689, 554),
 (3, 14024, 541),
 (3, 16799, 533),
 (3, 17213, 528),
 (3, 6838, 514),
 (3, 32654, 505),
 (3, 25770, 504),
 (3, 17129, 498),
 (3, 26897, 494),
 (3, 24963, 491),
 (3, 25167, 487),
 (3, 33124, 480),
 (3, 33165, 472),
 (3, 24999, 462),
 (3, 6920, 451),
 (3, 7404, 450),
 (3, 11574, 449),
 (3, 6914, 416),
 (3, 10197, 414),
 (3, 30573, 404),
 (3, 6829, 403),
 (3, 8055, 397),
 (3, 12600, 394),
 (3, 25149, 389),
 (3, 27535, 387),
 (3, 22352, 387),
 (3, 2106, 385),
 (3, 11595, 378),
 (3, 30521, 373),
 (3, 26842, 369),
 (3, 24997, 369),
 (3, 10641, 359),
 (3, 5444, 358),
 (3, 11579, 357),
 (3, 20781, 357),
 (5, 11557, 40087),
 (5, 11305, 39330),
 (5, 8717, 17944),
 (5, 33114, 12856),
 (5, 30574, 11909),
 (5, 11743, 10656),
 (5, 14017, 7607),
 (5, 5207, 6640),
 (5, 22743, 5164),
 (5, 32989, 4298),
 (5, 11590, 4267),
 (5, 27199, 4199),
 (5, 18886, 3618),
 (5, 6953, 2960),
 (5, 24960, 2311),
 (5, 1691, 1982),
 (5, 22753, 1972),
 (5, 6857, 1966),
 (5, 15965, 1363),
 (5, 6888, 1338),
 (5, 6828, 1311),
 (5, 2104, 1177),
 (5, 26785, 1143),
 (5, 19974, 1099),
 (5, 7457, 1090),
 (5, 25765, 1085),
 (5, 20774, 1020),
 (5, 9221, 988),
 (5, 3389, 966),
 (5, 6895, 961),
 (5, 11505, 936),
 (5, 1128, 932),
 (5, 17124, 885),
 (5, 15169, 848),
 (5, 22034, 845),
 (5, 11497, 831),
 (5, 3392, 818),
 (5, 25234, 789),
 (5, 11370, 765),
 (5, 22973, 720),
 (5, 25152, 657),
 (5, 20849, 652),
 (5, 33009, 638),
 (5, 24964, 620),
 (5, 10644, 591),
 (5, 32623, 589),
 (5, 31617, 584),
 (5, 5751, 575),
 (5, 5090, 573),
 (5, 29452, 566),
 (5, 16427, 563),
 (5, 6960, 554),
 (5, 25151, 549),
 (5, 20939, 526),
 (5, 29011, 520),
 (5, 3371, 496),
 (5, 27535, 495),
 (5, 20824, 493),
 (5, 18045, 490),
 (5, 11491, 486),
 (5, 30464, 484),
 (5, 14024, 483),
 (5, 22689, 461),
 (5, 33012, 449),
 (5, 21989, 447),
 (5, 25150, 439),
 (5, 16799, 431),
 (5, 32654, 423),
 (5, 26897, 415),
 (5, 17213, 403),
 (5, 33124, 401),
 (5, 25153, 399),
 (5, 11550, 389),
 (5, 6838, 388),
 (5, 11574, 386),
 (5, 33165, 384),
 (5, 25770, 355),
 (5, 2106, 349),
 (5, 17129, 348),
 (5, 6920, 331),
 (5, 6914, 331),
 (5, 11579, 329),
 (5, 25167, 328),
 (5, 8055, 324),
 (5, 10197, 321),
 (5, 11595, 321),
 (5, 30521, 317),
 (5, 22352, 313),
 (5, 6829, 312),
 (5, 24999, 310),
 (5, 30573, 309),
 (5, 1120, 305),
 (5, 26842, 303),
 (5, 10641, 303),
 (5, 25149, 302),
 (5, 20781, 299),
 (5, 32345, 298),
 (5, 12600, 282),
 (5, 3379, 277),
 (5, 5444, 273),
 (6, 11305, 38378),
 (6, 33114, 12979),
 (6, 11743, 10249),
 (6, 14017, 7472),
 (6, 22743, 4977),
 (6, 32989, 4383),
 (6, 27199, 4007),
 (6, 11590, 3597),
 (6, 6953, 2656),
 (6, 24960, 2065),
 (6, 22753, 1904),
 (6, 1691, 1892),
 (6, 6857, 1716),
 (6, 15965, 1343),
 (6, 6888, 1227),
 (6, 26785, 1130),
 (6, 2104, 1090),
 (6, 7457, 1032),
 (6, 20774, 1010),
 (6, 25765, 987),
 (6, 9221, 984),
 (6, 3389, 910),
 (6, 6895, 879),
 (6, 1128, 869),
 (6, 19974, 868),
 (6, 15169, 849),
 (6, 17124, 837),
 (6, 11505, 827),
 (6, 22034, 826),
 (6, 3392, 785),
 (6, 11370, 749),
 (6, 25234, 746),
 (6, 11497, 727),
 (6, 22973, 702),
 (6, 33009, 645),
 (6, 20849, 637),
 (6, 25152, 616),
 (6, 9882, 602),
 (6, 29452, 581),
 (6, 24964, 569),
 (6, 31617, 568),
 (6, 32623, 565),
 (6, 10644, 557),
 (6, 5751, 557),
 (6, 16427, 555),
 (6, 5090, 523),
 (6, 20939, 493),
 (6, 29011, 491),
 (6, 6960, 489),
 (6, 14024, 467),
 (6, 25151, 465),
 (6, 3371, 460),
 (6, 27535, 456),
 (6, 33012, 454),
 (6, 18045, 452),
 (6, 20824, 451),
 (6, 22689, 445),
 (6, 21989, 443),
 (6, 32654, 400),
 (6, 33124, 399),
 (6, 11491, 396),
 (6, 26897, 393),
 (6, 17213, 387),
 (6, 11550, 383),
 (6, 33165, 383),
 (6, 16799, 374),
 (6, 25150, 361),
 (6, 6838, 352),
 (6, 25153, 344),
 (6, 25770, 334),
 (6, 11574, 327),
 (6, 17129, 326),
 (6, 30521, 322),
 (6, 10197, 320),
 (6, 2106, 312),
 (6, 30573, 309),
 (6, 26842, 307),
 (6, 8055, 301),
 (6, 30574, 298),
 (6, 7852, 293),
 (6, 10641, 293),
 (6, 6914, 293),
 (6, 6920, 292),
 (6, 6829, 289),
 (6, 1120, 285),
 (6, 22352, 281),
 (6, 25167, 277),
 (6, 20781, 275),
 (6, 12600, 274),
 (6, 24999, 273),
 (6, 11579, 272),
 (6, 11595, 269),
 (6, 29190, 266),
 (6, 24092, 265),
 (6, 25149, 263),
 (6, 7404, 257),
 (6, 5444, 256),
 (6, 11376, 255),
 (6, 3379, 250),
 (6, 26256, 247),
 (8, 30574, 2823),
 (8, 11557, 144),
 (8, 11305, 104),
 (8, 8717, 71),
 (8, 14017, 54),
 (8, 33114, 34),
 (8, 11743, 25),
 (8, 18886, 23),
 (8, 22743, 18),
 (8, 27199, 16),
 (8, 32989, 15),
 (8, 5207, 14),
 (8, 15965, 10),
 (8, 11590, 8),
 (8, 29011, 8),
 (8, 1691, 7),
 (8, 6857, 7),
 (8, 6895, 7),
 (8, 6953, 6),
 (8, 6828, 6),
 (8, 27535, 6),
 (8, 26785, 5),
 (8, 7457, 5),
 (8, 11505, 5),
 (8, 22034, 5),
 (8, 22973, 5),
 (8, 32623, 5),
 (8, 31617, 5),
 (8, 30521, 5),
 (8, 2104, 4),
 (8, 9221, 4),
 (8, 20774, 4),
 (8, 29452, 4),
 (8, 20939, 4),
 (8, 32654, 4),
 (8, 18680, 4),
 (8, 5557, 4),
 (8, 6888, 3),
 (8, 15169, 3),
 (8, 1128, 3),
 (8, 19974, 3),
 (8, 16427, 3),
 (8, 20824, 3),
 (8, 33165, 3),
 (8, 18640, 3),
 (8, 21928, 3),
 (8, 22545, 3),
 (8, 3687, 3),
 (8, 9882, 3),
 (8, 15048, 3),
 (8, 14092, 3),
 (8, 24960, 2),
 (8, 33009, 2),
 (8, 10644, 2),
 (8, 5751, 2),
 (8, 5090, 2),
 (8, 14024, 2),
 (8, 26897, 2),
 (8, 11491, 2),
 (8, 11574, 2),
 (8, 25150, 2),
 (8, 8055, 2),
 (8, 1120, 2),
 (8, 26842, 2),
 (8, 14008, 2),
 (8, 14064, 2),
 (8, 11367, 2),
 (8, 10731, 2),
 (8, 2218, 2),
 (8, 8067, 2),
 (8, 30358, 2),
 (8, 32586, 2),
 (8, 7404, 2),
 (8, 25506, 2),
 (8, 26837, 2),
 (8, 1540, 2),
 (8, 32996, 2),
 (8, 11988, 2),
 (8, 23171, 2),
 (8, 12680, 2),
 (8, 14361, 2),
 (8, 19983, 2),
 (8, 20547, 2),
 (8, 24164, 2),
 (8, 982, 2),
 (8, 6863, 2),
 (8, 20828, 2),
 (8, 32651, 2),
 (8, 11482, 2),
 (8, 20818, 2),
 (8, 32221, 2),
 (8, 5574, 2),
 (8, 4375, 2),
 (8, 4319, 2),
 (8, 6833, 2),
 (8, 18890, 2),
 (8, 33121, 1),
 (8, 23997, 1),
 (8, 32803, 1),
 (8, 15306, 1),
 (10, 30574, 3226),
 (10, 11557, 330),
 (10, 11305, 253),
 (10, 8717, 127),
 (10, 11743, 84),
 (10, 14017, 79),
 (10, 33114, 78),
 (10, 18886, 33),
 (10, 32989, 31),
 (10, 27199, 25),
 (10, 6953, 19),
 (10, 5207, 18),
 (10, 1691, 18),
 (10, 6857, 18),
 (10, 27535, 16),
 (10, 11590, 13),
 (10, 22753, 10),
 (10, 11370, 10),
 (10, 24960, 9),
 (10, 15965, 9),
 (10, 7457, 9),
 (10, 16427, 9),
 (10, 20824, 9),
 (10, 14029, 9),
 (10, 22743, 8),
 (10, 6888, 8),
 (10, 2104, 8),
 (10, 6895, 8),
 (10, 32623, 8),
 (10, 32654, 8),
 (10, 11595, 8),
 (10, 20774, 7),
 (10, 11505, 7),
 (10, 11497, 7),
 (10, 26785, 6),
 (10, 6828, 6),
 (10, 17124, 6),
 (10, 29452, 6),
 (10, 10644, 6),
 (10, 6838, 6),
 (10, 11340, 6),
 (10, 25011, 6),
 (10, 18640, 6),
 (10, 22973, 5),
 (10, 11491, 5),
 (10, 11574, 5),
 (10, 1120, 5),
 (10, 6920, 5),
 (10, 18680, 5),
 (10, 33125, 5),
 (10, 14008, 5),
 (10, 1128, 4),
 (10, 22034, 4),
 (10, 31617, 4),
 (10, 14024, 4),
 (10, 6960, 4),
 (10, 21989, 4),
 (10, 11550, 4),
 (10, 16799, 4),
 (10, 33165, 4),
 (10, 27556, 4),
 (10, 11314, 4),
 (10, 21928, 4),
 (10, 22545, 4),
 (10, 12600, 4),
 (10, 3687, 4),
 (10, 33153, 4),
 (10, 9882, 4),
 (10, 15169, 3),
 (10, 3389, 3),
 (10, 3392, 3),
 (10, 25234, 3),
 (10, 33009, 3),
 (10, 5751, 3),
 (10, 5090, 3),
 (10, 20939, 3),
 (10, 33012, 3),
 (10, 33124, 3),
 (10, 30521, 3),
 (10, 30573, 3),
 (10, 2106, 3),
 (10, 8055, 3),
 (10, 6829, 3),
 (10, 24092, 3),
 (10, 14064, 3),
 (10, 14764, 3),
 (10, 11367, 3),
 (10, 33116, 3),
 (10, 23037, 3),
 (10, 10731, 3),
 (10, 6909, 3),
 (10, 2218, 3),
 (10, 1489, 3),
 (10, 29457, 3),
 (10, 16773, 3),
 (10, 1542, 3),
 (10, 5557, 3),
 (10, 18682, 3),
 (10, 9738, 3),
 (10, 11467, 3),
 (11, 30574, 32303),
 (11, 8717, 11955),
 (11, 26837, 10977),
 (11, 11557, 10173),
 (11, 26771, 9773),
 (11, 11743, 7012),
 (11, 15048, 4397),
 (11, 11305, 3428),
 (11, 7457, 2829),
 (11, 26894, 1813),
 (11, 22743, 1555),
 (11, 7725, 1439),
 (11, 15067, 1439),
 (11, 5207, 1201),
 (11, 26785, 1193),
 (11, 27199, 983),
 (11, 11590, 951),
 (11, 12680, 833),
 (11, 1691, 656),
 (11, 3389, 635),
 (11, 27398, 630),
 (11, 7404, 598),
 (11, 11370, 521),
 (11, 22034, 516),
 (11, 3392, 483),
 (11, 1642, 460),
 (11, 26897, 444),
 (11, 22753, 421),
 (11, 30521, 399),
 (11, 240, 377),
 (11, 5751, 342),
 (11, 18045, 333),
 (11, 4949, 326),
 (11, 24960, 323),
 (11, 9221, 322),
 (11, 3371, 321),
 (11, 9801, 309),
 (11, 33114, 307),
 (11, 26842, 294),
 (11, 28235, 289),
 (11, 10644, 287),
 (11, 17213, 285),
 (11, 1659, 281),
 (11, 2056, 275),
 (11, 26636, 240),
 (11, 10197, 232),
 (11, 5090, 231),
 (11, 236, 230),
 (11, 21989, 225),
 (11, 18367, 224),
 (11, 26816, 224),
 (11, 12663, 213),
 (11, 2104, 208),
 (11, 26774, 204),
 (11, 28300, 202),
 (11, 923, 191),
 (11, 11376, 189),
 (11, 3379, 188),
 (11, 15060, 185),
 (11, 20849, 184),
 (11, 11497, 180),
 (11, 1416, 174),
 (11, 20774, 171),
 (11, 25150, 170),
 (11, 251, 169),
 (11, 32586, 161),
 (11, 25151, 155),
 (11, 3358, 152),
 (11, 10210, 151),
 (11, 15169, 149),
 (11, 11505, 149),
 (11, 30573, 148),
 (11, 25149, 133),
 (11, 1128, 131),
 (11, 32989, 129),
 (11, 8055, 127),
 (11, 3377, 126),
 (11, 27403, 124),
 (11, 11287, 123),
 (11, 25152, 122),
 (11, 22689, 122),
 (11, 25765, 120),
 (11, 25167, 117),
 (11, 20282, 115),
 (11, 20731, 114),
 (11, 5776, 114),
 (11, 11491, 111),
 (11, 31505, 110),
 (11, 30860, 110),
 (11, 25234, 108),
 (11, 25506, 105),
 (11, 5481, 105),
 (11, 9477, 102),
 (11, 26838, 102),
 (11, 14408, 99),
 (11, 30672, 96),
 (11, 29190, 93),
 (11, 27535, 92),
 (11, 9638, 92),
 (11, 461, 92),
 (13, 30574, 75870),
 (13, 8717, 8571),
 (13, 11557, 3245),
 (13, 26837, 2614),
 (13, 26771, 2478),
 (13, 11743, 1979),
 (13, 15048, 1225),
 (13, 11305, 933),
 (13, 22743, 839),
 (13, 7457, 551),
 (13, 26894, 503),
 (13, 5207, 495),
 (13, 7725, 370),
 (13, 26785, 347),
 (13, 15067, 293),
 (13, 11590, 225),
 (13, 9221, 208),
 (13, 27199, 196),
 (13, 12680, 178),
 (13, 22753, 163),
 (13, 27398, 160),
 (13, 1691, 141),
 (13, 22034, 135),
 (13, 17213, 134),
 (13, 26897, 131),
 (13, 11370, 127),
 (13, 20774, 121),
 (13, 20849, 106),
 (13, 18045, 106),
 (13, 30521, 101),
 (13, 7404, 96),
 (13, 9801, 96),
 (13, 10644, 89),
 (13, 26816, 89),
 (13, 5751, 82),
 (13, 2104, 81),
 (13, 26842, 81),
 (13, 18367, 77),
 (13, 28235, 76),
 (13, 24960, 73),
 (13, 15169, 71),
 (13, 1642, 69),
 (13, 27535, 68),
 (13, 28300, 66),
 (13, 10197, 63),
 (13, 11376, 63),
 (13, 26636, 62),
 (13, 22330, 61),
 (13, 26774, 60),
 (13, 31505, 59),
 (13, 1416, 58),
 (13, 5090, 57),
 (13, 21989, 54),
 (13, 10210, 54),
 (13, 2056, 53),
 (13, 11497, 52),
 (13, 33114, 51),
 (13, 11505, 51),
 (13, 22689, 50),
 (13, 1659, 50),
 (13, 240, 50),
 (13, 15060, 50),
 (13, 14064, 40),
 (13, 27412, 39),
 (13, 12663, 39),
 (13, 30573, 38),
 (13, 923, 38),
 (13, 8055, 36),
 (13, 7654, 36),
 (13, 30464, 35),
 (13, 14764, 34),
 (13, 5444, 33),
 (13, 27403, 32),
 (13, 23349, 32),
 (13, 13962, 32),
 (13, 22352, 31),
 (13, 30860, 30),
 (13, 11491, 29),
 (13, 25506, 29),
 (13, 32586, 28),
 (13, 2690, 28),
 (13, 26838, 28),
 (13, 236, 27),
 (13, 26884, 27),
 (13, 14408, 26),
 (13, 10093, 25),
 (13, 10094, 25),
 (13, 28247, 25),
 (13, 22301, 25),
 (13, 7658, 24),
 (13, 1128, 23),
 (13, 3392, 23),
 (13, 20824, 23),
 (13, 2106, 23),
 (13, 20781, 23),
 (13, 23471, 23),
 (13, 9477, 23),
 (13, 23040, 23),
 (13, 21815, 23),
 (13, 6122, 22),
 (21, 30574, 33603),
 (21, 8717, 12685),
 (21, 14552, 3160),
 (21, 21773, 1845),
 (21, 11557, 1614),
 (21, 21689, 1121),
 (21, 26816, 1040),
 (21, 22743, 573),
 (21, 3389, 365),
 (21, 15048, 340),
 (21, 5207, 335),
 (21, 3392, 297),
 (21, 30521, 217),
 (21, 9221, 196),
 (21, 23996, 192),
 (21, 23569, 186),
 (21, 17213, 177),
 (21, 18045, 175),
 (21, 3371, 173),
 (21, 22753, 156),
 (21, 11590, 154),
 (21, 14467, 150),
 (21, 23471, 137),
 (21, 30755, 130),
 (21, 25562, 126),
 (21, 1416, 125),
 (21, 15067, 121),
 (21, 31505, 117),
 (21, 10197, 116),
 (21, 3358, 114),
 (21, 10644, 94),
 (21, 4631, 88),
 (21, 3379, 84),
 (21, 20774, 80),
 (21, 30756, 79),
 (21, 32586, 77),
 (21, 10210, 77),
 (21, 20849, 76),
 (21, 3377, 74),
 (21, 31155, 73),
 (21, 21739, 73),
 (21, 21685, 73),
 (21, 21195, 72),
 (21, 3288, 71),
 (21, 22330, 70),
 (21, 10997, 68),
 (21, 10316, 63),
 (21, 1642, 61),
 (21, 15169, 60),
 (21, 9477, 59),
 (21, 12680, 59),
 (21, 21187, 59),
 (21, 14611, 57),
 (21, 4949, 56),
 (21, 9484, 56),
 (21, 22689, 54),
 (21, 10891, 54),
 (21, 11743, 53),
 (21, 27535, 52),
 (21, 12940, 49),
 (21, 22545, 48),
 (21, 2705, 48),
 (21, 23991, 48),
 (21, 26862, 47),
 (21, 13054, 47),
 (21, 12962, 46),
 (21, 32796, 45),
 (21, 20731, 43),
 (21, 10304, 43),
 (21, 2277, 42),
 (21, 25150, 41),
 (21, 21766, 41),
 (21, 941, 38),
 (21, 21374, 38),
 (21, 5858, 37),
 (21, 23980, 37),
 (21, 19524, 36),
 (21, 8327, 36),
 (21, 7305, 36),
 (21, 24960, 35),
 (21, 2104, 35),
 (21, 21803, 35),
 (21, 6692, 35),
 (21, 25152, 34),
 (21, 14064, 34),
 (21, 25506, 34),
 (21, 22733, 34),
 (21, 26855, 34),
 (21, 25151, 32),
 (21, 32080, 32),
 (21, 8346, 32),
 (21, 22816, 32),
 (21, 21732, 32),
 (21, 11497, 31),
 (21, 5444, 31),
 (21, 603, 31),
 (21, 12869, 31),
 (21, 17807, 31),
 (21, 28235, 30),
 (21, 26888, 29),
 ...]

In [10]:
len(set(list(bt["goodreads_book_id"])))

10000

In our experiments, we will take just the firts 2000 IDS of the books. In that way, we will mix books with different popularities.

In [11]:
set(list(bt["goodreads_book_id"]))

{1,
 2,
 3,
 32769,
 5,
 6,
 196613,
 8,
 2195464,
 10,
 11,
 3407877,
 13,
 7766027,
 3080212,
 21,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 6357022,
 10813469,
 33,
 34,
 1736739,
 36,
 32807,
 294951,
 426025,
 10813480,
 32812,
 426030,
 50,
 131123,
 294963,
 229432,
 32827,
 32829,
 32831,
 688191,
 26771521,
 67,
 1474628,
 65605,
 1048645,
 15728721,
 262228,
 262229,
 16056408,
 93,
 65633,
 98,
 98405,
 105,
 106,
 65641,
 721003,
 98413,
 17465453,
 21856367,
 112,
 360562,
 721012,
 117,
 7864437,
 119,
 122,
 98427,
 15827066,
 17465470,
 10846336,
 6553733,
 163977,
 8519822,
 65684,
 20316309,
 6422680,
 589979,
 196764,
 32929,
 327847,
 17465515,
 295086,
 16122034,
 11337912,
 15990969,
 7831742,
 11010251,
 32979,
 491735,
 1081560,
 32987,
 295132,
 17334495,
 231,
 131304,
 7307503,
 24903919,
 655601,
 24019187,
 249,
 250,
 9666812,
 295169,
 12812550,
 264,
 98573,
 13041934,
 6390031,
 275,
 15728921,
 12288282,
 262430,
 131359,
 23363874,
 291,
 8683812,
 11600163,
 2299110,
 295,
 304,
 65840,
 16122163,
 459064,
 164154,
 320,
 1409344,
 9961796,
 13369678,
 13402447,
 26116430,
 10256723,
 11665750,
 343,
 196951,
 23363928,
 348,
 350,
 353,
 355,
 357,
 359,
 360,
 196970,
 6619499,
 365,
 65910,
 33144,
 7078265,
 378,
 22544764,
 98685,
 98687,
 386,
 7176578,
 7897478,
 295305,
 400,
 262545,
 65948,
 415,
 6488483,
 424,
 3047848,
 3047849,
 3047850,
 428,
 3047851,
 3342764,
 431,
 432,
 11239856,
 12157365,
 446,
 447,
 449,
 8487363,
 4653511,
 456,
 26214866,
 819667,
 475,
 197084,
 12878300,
 7930335,
 164323,
 13042154,
 852460,
 852470,
 98807,
 426504,
 33293,
 22151696,
 7307795,
 7897620,
 688663,
 11076123,
 16056862,
 33313,
 9798177,
 13533740,
 7701043,
 33333,
 7963189,
 33335,
 9962040,
 11469379,
 7963208,
 262731,
 33356,
 24445517,
 11076177,
 597,
 599,
 18285151,
 98920,
 9503336,
 621,
 15729261,
 230003,
 1999475,
 629,
 361081,
 459386,
 20578940,
 426625,
 647,
 8356487,
 33418,
 10551947,
 656,
 33426,
 662,
 665,
 667,
 668,
 6193821,
 33441,
 33443,
 676,
 6324903,
 33449,
 8520362,
 33453,
 33454,
 33455,
 33456,
 33457,
 33458,
 33459,
 164531,
 25526965,
 698,
 164542,
 703,
 706,
 590552,
 295649,
 33507,
 2458340,
 33512,
 33514,
 131830,
 760,
 771,
 6193923,
 3474186,
 33547,
 15762186,
 99085,
 22381326,
 16122643,
 426775,
 7701275,
 1278752,
 33569,
 99107,
 99110,
 99111,
 816,
 66354,
 822,
 823,
 825,
 827,
 197436,
 830,
 33600,
 66370,
 25494343,
 840,
 33609,
 426825,
 12878667,
 25690958,
 197457,
 197459,
 865,
 870,
 164719,
 880,
 164723,
 11797365,
 1966969,
 890,
 9995135,
 15729539,
 900,
 33668,
 902,
 903,
 99208,
 197512,
 263050,
 33676,
 99218,
 99219,
 295834,
 20874139,
 930,
 8520610,
 12551077,
 66470,
 99245,
 20317106,
 952,
 33722,
 33723,
 33724,
 33726,
 33727,
 960,
 33729,
 33732,
 968,
 976,
 1967070,
 17302495,
 99296,
 99297,
 99298,
 99300,
 164836,
 998,
 263145,
 33770,
 263147,
 263148,
 1005,
 263149,
 7144426,
 885744,
 13435889,
 23692271,
 99315,
 361459,
 394228,
 6587387,
 66559,
 99329,
 263171,
 263172,
 263173,
 1032,
 263179,
 21857294,
 33808,
 33810,
 10552338,
 12977172,
 33813,
 295961,
 754713,
 24937499,
 1052,
 33820,
 8389671,
 12583975,
 1067,
 820273,
 1078,
 99383,
 132152,
 1097,
 1103,
 6063187,
 3015764,
 1110,
 25953369,
 28214365,
 66655,
 328802,
 22840421,
 33896,
 4162673,
 33906,
 13337715,
 66676,
 13337716,
 66678,
 11830394,
 66683,
 99452,
 33917,
 6751356,
 66692,
 66693,
 33926,
 66695,
 99461,
 6718608,
 1171,
 11699349,
 328854,
 9634967,
 165030,
 1191,
 1192,
 820394,
 525488,
 1202,
 11568316,
 165053,
 296125,
 27362503,
 328907,
 787660,
 9897164,
 1232,
 1241,
 132314,
 17237214,
 15762657,
 394469,
 13206760,
 99561,
 132336,
 1274,
 820480,
 34053,
 918789,
 34057,
 1295,
 1301,
 17925397,
 1303,
 34072,
 1305,
 99610,
 1307,
 10421530,
 23168277,
 34080,
 13010211,
 34084,
 820517,
 1319,
 132391,
 66857,
 394535,
 13206828,
 886066,
 2753843,
 12813630,
 22381892,
 296264,
 99664,
 1362,
 17204568,
 1371,
 1375,
 7046495,
 11306337,
 1381,
 623976,
 296298,
 296302,
 17401198,
 13206900,
 66933,
 7800188,
 99713,
 7243142,
 1420,
 6686092,
 12846479,
 1426,
 1427,
 1428,
 4588949,
 1430,
 1431,
 6686101,
 8652190,
 15795628,
 27821486,
 13272498,
 15730101,
 23299512,
 6489529,
 18711993,
 394683,
 22054340,
 17171909,
 13436373,
 34262,
 67035,
 34268,
 21956060,
 6587879,
 22021611,
 1519,
 5604848,
 1524,
 34295,
 132609,
 5899779,
 1540,
 34310,
 34312,
 16090636,
 12191246,
 13239822,
 12158480,
 1554,
 132626,
 165395,
 394772,
 8554005,
 1672727,
 25855506,
 9307674,
 15762975,
 12813860,
 12027429,
 99894,
 1591,
 13600318,
 2033217,
 2983489,
 5047880,
 18089551,
 132688,
 1617,
 1618,
 6948436,
 1622,
 1624,
 1625,
 394841,
 1627,
 1633,
 17794657,
 1635,
 25527908,
 3147367,
 99944,
 17860199,
 99955,
 21530229,
 6424184,
 17860217,
 17204860,
 657034,
 2983562,
 7997069,
 24189224,
 34451,
 34452,
 1902241,
 1476261,
 67238,
 9635495,
 132778,
 525995,
 10127019,
 1715,
 34484,
 198331,
 34492,
 198332,
 34494,
 34497,
 34498,
 34499,
 34501,
 34502,
 34503,
 34504,
 1279686,
 34506,
 34507,
 34508,
 2033352,
 34510,
 34511,
 9864913,
 34517,
 296662,
 3475161,
 820956,
 34527,
 34529,
 34532,
 34534,
 2983654,
 15828714,
 2197227,
 34541,
 886512,
 15861491,
 34548,
 6457081,
 1541884,
 460548,
 821000,
 821003,
 1050383,
 1823,
 1824,
 132900,
 7636774,
 8619814,
 34605,
 23168817,
 1842,
 7505716,
 1845,
 1846,
 1848,
 1849,
 1852,
 821056,
 3475268,
 9635657,
 1869,
 395090,
 1875,
 460635,
 1885,
 16090981,
 1897,
 1898,
 5048174,
 198511,
 1911,
 6555517,
 6457229,
 1934,
 493455,
 427920,
 493456,
 9799572,
 100247,
 133017,
 1953,
 18089900,
 460717,
 395182,
 6621101,
 722864,
 9832370,
 67513,
 8456124,
 1990,
 34760,
 2754510,
 6686671,
 22611920,
 2002,
 395220,
 6621143,
 657371,
 264158,
 395233,
 100322,
 2918374,
 3213286,
 12716010,
 296942,
 18089975,
 20318201,
 11995136,
 2049,
 2050,
 2052,
 2054,
 428042,
 2230284,
 100365,
 2067,
 2068,
 2295829,
 3344411,
 12617758,
 7735333,
 13109291,
 8685612,
 2094,
 2095,
 5310515,
 34871,
 3115070,
 9439303,
 67657,
 2122,
 18090061,
 34897,
 34898,
 2137,
 7145565,
 2142,
 14288998,
 34919,
 2152,
 6621287,
 8357992,
 2156,
 2159,
 100464,
 3934321,
 16124019,
 2165,
 133241,
 6752378,
 100476,
 34941,
 2175,
 17860739,
 2183,
 231560,
 231562,
 2187,
 133266,
 17565845,
 2199,
 6654104,
 2203,
 11765920,
 231585,
 18090147,
 10193062,
 18090150,
 34988,
 297134,
 297135,
 17729712,
 34993,
 231604,
 21104828,
 428223,
 2255,
 198863,
 24709327,
 166101,
 2265,
 592089,
 23398625,
 297186,
 6818019,
 2279,
 428263,
 1116393,
 854252,
 7932146,
 16058610,
 6260997,
 9275658,
 133394,
 67863,
 35100,
 297249,
 985386,
 18680106,
 35125,
 133430,
 18712886,
 19138879,
 2368,
 13568322,
 2371,
 2372,
 2373,
 133445,
 67920,
 67931,
 28477789,
 20613470,
 22055262,
 6654313,
 821611,
 133486,
 133488,
 22055280,
 22055283,
 231804,
 2430,
 2442,
 35210,
 6359434,
 231821,
 133518,
 7801229,
 25332115,
 35220,
 133526,
 23398806,
 35231,
 35233,
 887201,
 231850,
 10586539,
 17402288,
 2820533,
 2493,
 22874559,
 625094,
 16061295,
 2517,
 15796700,
 2526,
 2528,
 2530,
 2547,
 8686068,
 13502963,
 3410425,
 13502970,
 1149440,
 68099,
 35332,
 14060046,
 6687247,
 17336849,
 24480276,
 6261270,
 35354,
 15993374,
 133664,
 12880428,
 68143,
 15698479,
 23398961,
 100915,
 2612,
 231989,
 2615,
 1215032,
 25430584,
 100924,
 2623,
 17828418,
 100933,
 12716613,
 264778,
 395851,
 920143,
 395871,
 2657,
 133729,
 395875,
 5212771,
 24611425,
 35430,
 8718952,
 2666,
 13568619,
 2722413,
 23399022,
 68210,
 2677,
 17926775,
 24611454,
 20613761,
 133765,
 13503109,
 133767,
 2696,
 6326920,
 395922,
 6589074,
 35476,
 11864728,
 2715,
 297627,
 35488,
 166562,
 232109,
 690866,
 166580,
 2743,
 2744,
 395962,
 232123,
 2748,
 35519,
 297673,
 20646604,
 2767,
 232145,
 35539,
 2784,
 9833184,
 854757,
 101094,
 6261477,
 2794,
 17402605,
 690926,
 9439989,
 2296567,
 2198274,
 690955,
 13601550,
 559889,
 133906,
 592657,
 5933841,
 6261522,
 7736086,
 2839,
 68378,
 68380,
 20613920,
 14781219,
 21400356,
 10816297,
 68396,
 2865,
 2872,
 2873,
 1215290,
 428862,
 2879,
 2880,
 297792,
 68418,
 133954,
 10357575,
 10324808,
 68427,
 68428,
 68429,
 232268,
 11045709,
 7146335,
 789344,
 2915,
 68452,
 68453,
 6916963,
 68455,
 397867,
 68458,
 199530,
 199532,
 199531,
 18221931,
 21531503,
 11996019,
 2932,
 7736182,
 101249,
 68483,
 101255,
 68488,
 68487,
 2956,
 68494,
 68496,
 35729,
 625554,
 68497,
 25693079,
 35743,
 2978,
 21433251,
 68520,
 68521,
 68524,
 953260,
 68526,
 68527,
 68528,
 68530,
 68531,
 101299,
 1248179,
 2998,
 12389310,
 3008,
 625603,
 3028,
 35805,
 429024,
 330721,
 1051620,
 ...}

In [12]:
bt = bt.sort_values(by=['goodreads_book_id', 'tag_id'])

In [13]:
all_ids = list(bt["goodreads_book_id"])
all_ids

[1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 ...]

In [14]:
reduced_ids = np.percentile(all_ids, 20) 
reduced_ids

32085.0

In [15]:
bt_20 = bt[bt["goodreads_book_id"] <=32085]

In [16]:
bt_20.head()

    goodreads_book_id  tag_id  count
62                  1     615    399
85                  1    1120    283
29                  1    1128    828
16                  1    1691   1742
22                  1    2104   1022

In [17]:
len(bt_20)

200000

In [18]:
len(bt)

999912

In [19]:
len(set(list(bt_20["goodreads_book_id"])))

2000

In [20]:
#Great! Our dataset now consists of 2,000 books and 200,000 edges!

In [21]:
index = range(0,200000)
bt_reduced = bt_20.reindex(index=index)

In [22]:
bt_reduced.head()

   goodreads_book_id  tag_id   count
0                  1   30574  167697
1                  1   11305   37174
2                  1   11557   34173
3                  1    8717   12986
4                  1   33114   12716

In [23]:
max(list(bt_reduced["goodreads_book_id"]))

32085

In [24]:
max(list(bt_reduced["tag_id"]))

34250

In [25]:
min(list(bt_reduced["tag_id"]))

0

In [26]:
def add100k(number): 
    return 100000+number
bt_reduced["tag_id"] = bt_reduced["tag_id"].apply(add100k)

In [27]:
bt_reduced.head()

   goodreads_book_id  tag_id   count
0                  1  130574  167697
1                  1  111305   37174
2                  1  111557   34173
3                  1  108717   12986
4                  1  133114   12716

In [30]:
bt_reduced.to_csv('data/book_tags_graph.csv', sep=' ', header=False, index=False)

## 2. Ratings data reduction

In [31]:
r = pd.read_csv( 'data/ratings.csv')

In [32]:
r = r.sort_values(by=['book_id'])

In [33]:
r.head()

         user_id  book_id  rating
2174136    29300        1       4
433265      6590        1       3
1907014     7546        1       5
3743260    43484        1       1
1266846    18689        1       5

In [34]:
len(r)

5976479

In [35]:
max(r.book_id)

10000

In [36]:
#there is no direct mapping from good

In [37]:
b = pd.read_csv( 'data/books.csv')

In [38]:
b.head()

,book_id,goodreads_book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
0,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,4780653,4942365,155254,66715,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...
1,2,3,3,4640799,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPr",1997.0,Harry Potter and the Philosopher's Stone,...,4602479,4800065,75867,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...
2,3,41865,41865,3212258,226,316015849,9.780316e+12,Stephenie Meyer,2005.0,Twilight,...,3866839,3916824,95009,456191,436802,793319,875073,1355439,https://images.gr-assets.com/books/1361039443m...,https://images.gr-assets.com/books/1361039443s...
3,4,2657,2657,3275794,487,61120081,9.780061e+12,Harper Lee,1960.0,To Kill a Mockingbird,...,3198671,3340896,72586,60427,117415,446835,1001952,1714267,https://images.gr-assets.com/books/1361975680m...,https://images.gr-assets.com/books/1361975680s...
4,5,4671,4671,245494,1356,743273567,9.780743e+12,F. Scott Fitzgerald,1925.0,The Great Gatsby,...,2683664,2773745,51992,86236,197621,606158,936012,947718,https://images.gr-assets.com/books/1490528560m...,https://images.gr-assets.com/books/1490528560s...

In [39]:
#we should take the goodreads_book_id from b

In [40]:
def add_goodreads_book_id(book_id): 
    goodreads_book_id = b["goodreads_book_id"][book_id-1]
    return goodreads_book_id

In [41]:
r["goodreads_book_id"] = r["book_id"].apply(add_goodreads_book_id)

KeyboardInterrupt:

In [ ]:
r = r.sort_values(by=['goodreads_book_id'])

In [ ]:
r.head()

In [ ]:
max(r['goodreads_book_id'])

In [ ]:
r_reduced = r[r["goodreads_book_id"] <=32085]

In [ ]:
len(r_reduced)

In [ ]:
len(set(list(r_reduced["goodreads_book_id"])))

In [ ]:
r_red = r_reduced.drop(["book_id"], axis='columns')

In [ ]:
r_red.head()

In [ ]:
len(r_red)

In [ ]:
col_names = ['user_id', 'goodreads_book_id', 'rating']
r_red = r_red[col_names]
r_red.head()

In [ ]:
len(r_red)

In [ ]:
r_red.to_csv('data/ratings_reduced.csv', sep=' ', header=False, index=False)

In [25]:
#for GraphDB visualization? 
r_red.to_csv('data/ratings_reduced_graphDB.csv', sep=',', index=False)

## 3. Embeddings preparation

In [43]:
bte = pd.read_csv( 'emb/book_tags_emb_new.csv', sep=' ', header=None, index_col=0)

In [44]:
bte.sort_index(inplace=True)

In [4]:
bte.head()

,1,2,3,4,5,6,7,8,9,10,...,119,120,121,122,123,124,125,126,127,128
0,,,,,,,,,,,,,,,,,,,,,
1,-0.001814,-0.001332,0.000200,-0.000085,0.003135,0.002494,0.003422,0.002224,-0.000488,0.002398,...,-0.002359,0.000156,-0.002572,0.001216,0.001923,0.001713,0.000685,0.003023,0.003282,-0.002461
2,0.001490,-0.001276,-0.003258,-0.002007,0.001778,-0.000687,0.001638,-0.000032,0.001382,-0.000073,...,-0.002808,0.001972,0.003611,0.000987,-0.002238,0.002772,0.002103,0.000389,0.003110,-0.003430
3,-0.000799,0.000066,0.002180,0.001944,0.000739,-0.003427,-0.003390,-0.001414,-0.000942,0.001517,...,-0.000841,0.000303,0.001825,0.000405,-0.002169,-0.000803,0.002530,0.003729,-0.001263,-0.001934
5,-0.002016,0.000488,0.003869,-0.000493,-0.000043,0.000406,-0.003103,0.002386,0.003485,0.003521,...,-0.000864,-0.000015,0.002634,0.000082,0.001352,-0.003320,0.000273,0.001065,-0.002490,0.002410
6,0.003729,-0.003773,0.000423,0.002055,0.000091,0.002539,0.001980,-0.001866,-0.003763,-0.002378,...,0.003149,-0.002044,0.000755,-0.000015,0.000600,-0.001268,0.003386,-0.002974,0.000841,-0.001939

In [5]:
bte.index

Int64Index([     1,      2,      3,      5,      6,      8,     10,     11,
                13,     21,
            ...
            134185, 134194, 134206, 134229, 134239, 134240, 134241, 134247,
            134248, 134250],
           dtype='int64', name=0, length=13380)

In [6]:
bte_2000 = bte.head(2000)

In [7]:
bte.head(5)

,1,2,3,4,5,6,7,8,9,10,...,119,120,121,122,123,124,125,126,127,128
0,,,,,,,,,,,,,,,,,,,,,
1,-0.001814,-0.001332,0.000200,-0.000085,0.003135,0.002494,0.003422,0.002224,-0.000488,0.002398,...,-0.002359,0.000156,-0.002572,0.001216,0.001923,0.001713,0.000685,0.003023,0.003282,-0.002461
2,0.001490,-0.001276,-0.003258,-0.002007,0.001778,-0.000687,0.001638,-0.000032,0.001382,-0.000073,...,-0.002808,0.001972,0.003611,0.000987,-0.002238,0.002772,0.002103,0.000389,0.003110,-0.003430
3,-0.000799,0.000066,0.002180,0.001944,0.000739,-0.003427,-0.003390,-0.001414,-0.000942,0.001517,...,-0.000841,0.000303,0.001825,0.000405,-0.002169,-0.000803,0.002530,0.003729,-0.001263,-0.001934
5,-0.002016,0.000488,0.003869,-0.000493,-0.000043,0.000406,-0.003103,0.002386,0.003485,0.003521,...,-0.000864,-0.000015,0.002634,0.000082,0.001352,-0.003320,0.000273,0.001065,-0.002490,0.002410
6,0.003729,-0.003773,0.000423,0.002055,0.000091,0.002539,0.001980,-0.001866,-0.003763,-0.002378,...,0.003149,-0.002044,0.000755,-0.000015,0.000600,-0.001268,0.003386,-0.002974,0.000841,-0.001939

In [8]:
bte_2000.tail()

,1,2,3,4,5,6,7,8,9,10,...,119,120,121,122,123,124,125,126,127,128
0,,,,,,,,,,,,,,,,,,,,,
31975,-0.002554,-0.002313,-0.000473,-0.002529,-0.000192,0.003398,0.002140,0.003582,0.003194,0.003678,...,-0.002532,0.002752,-0.001688,0.001770,-0.000881,-0.000351,0.000987,-0.002645,-0.002022,-0.003481
31979,0.001920,0.002169,-0.003432,-0.002427,-0.002209,-0.003864,0.000163,-0.001459,0.001835,-0.003908,...,0.000530,0.001951,-0.001426,0.003839,0.001880,-0.001624,0.003038,-0.001853,-0.001838,0.002502
32067,0.002529,-0.002146,-0.002827,-0.002057,-0.001770,0.001674,-0.001619,0.002255,-0.003275,-0.003885,...,0.003689,-0.001412,-0.002133,-0.002953,0.000332,0.002704,-0.001438,-0.003155,0.003158,-0.000046
32071,-0.003183,0.000266,0.000203,-0.003442,-0.002800,-0.001033,0.003378,0.000865,0.002674,0.002770,...,0.001911,-0.003644,-0.000412,0.003708,-0.000769,-0.002804,0.001743,-0.000833,-0.000377,-0.002143
32085,-0.001609,-0.000865,-0.002305,0.002311,-0.001938,-0.002691,0.001903,-0.003732,0.003365,-0.003118,...,0.001868,-0.003888,0.002789,-0.003528,-0.001652,-0.002305,-0.003132,-0.001739,-0.001907,0.002934

In [9]:
bte_2000.to_csv('book_tags_emb_reduced_new.csv', header=False, index=False)

## 4. Embedding of books metadata

In [3]:
b = pd.read_csv( 'books.csv')

#TODO: 
+    
+ copy-paste    
+ dimentionality reduction

In [4]:
b = b.sort_values(by=['goodreads_book_id'])
b.head()

,book_id,goodreads_book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
26,27,1,1,41335427,275,439785960,9.780440e+12,"J.K. Rowling, Mary GrandPr",2005.0,Harry Potter and the Half-Blood Prince,...,1678823,1785676,27520,7308,21516,136333,459028,1161491,https://images.gr-assets.com/books/1361039191m...,https://images.gr-assets.com/books/1361039191s...
20,21,2,2,2809203,307,439358078,9.780439e+12,"J.K. Rowling, Mary GrandPr",2003.0,Harry Potter and the Order of the Phoenix,...,1735368,1840548,28685,9528,31577,180210,494427,1124806,https://images.gr-assets.com/books/1387141547m...,https://images.gr-assets.com/books/1387141547s...
1,2,3,3,4640799,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPr",1997.0,Harry Potter and the Philosopher's Stone,...,4602479,4800065,75867,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...
17,18,5,5,2402163,376,043965548X,9.780440e+12,"J.K. Rowling, Mary GrandPr, Rufus Beck",1999.0,Harry Potter and the Prisoner of Azkaban,...,1832823,1969375,36099,6716,20413,166129,509447,1266670,https://images.gr-assets.com/books/1499277281m...,https://images.gr-assets.com/books/1499277281s...
23,24,6,6,3046572,332,439139600,9.780439e+12,"J.K. Rowling, Mary GrandPr",2000.0,Harry Potter and the Goblet of Fire,...,1753043,1868642,31084,6676,20210,151785,494926,1195045,https://images.gr-assets.com/books/1361482611m...,https://images.gr-assets.com/books/1361482611s...

In [5]:
b_reduced = b[b["goodreads_book_id"] <=32085]

In [6]:
len(b_reduced)

2000

In [88]:
b_new = b_reduced[['goodreads_book_id', 'authors', 'original_publication_year',
       'original_title', 'language_code']]
b_new.head()

,goodreads_book_id,authors,original_publication_year,original_title,language_code
26,1,"J.K. Rowling, Mary GrandPr",2005.0,Harry Potter and the Half-Blood Prince,eng
20,2,"J.K. Rowling, Mary GrandPr",2003.0,Harry Potter and the Order of the Phoenix,eng
1,3,"J.K. Rowling, Mary GrandPr",1997.0,Harry Potter and the Philosopher's Stone,eng
17,5,"J.K. Rowling, Mary GrandPr, Rufus Beck",1999.0,Harry Potter and the Prisoner of Azkaban,eng
23,6,"J.K. Rowling, Mary GrandPr",2000.0,Harry Potter and the Goblet of Fire,eng

In [90]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
# b_scaled = pd.DataFrame(scaler.fit_transform(b_new['original_publication_year']), columns=b_new.columns)
# b_scaled.head()
b_new['year_scaled'] = scaler.fit_transform(b_new['original_publication_year'].values.reshape(-1,1))

C:\Users\melania\Anaconda3\envs\recommendation-systems\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [91]:
b_new.tail()

,goodreads_book_id,authors,original_publication_year,original_title,language_code,year_scaled
9955,31975,"Joss Whedon, John Cassaday",2005.0,"Astonishing X-Men, Volume 2: Dangerous",eng,0.998936
4074,31979,"Joss Whedon, John Cassaday",2004.0,"Astonishing X-Men, Volume 1: Gifted",eng,0.998670
1680,32067,"D.H. Lawrence, Doris Lessing, Chester Brown",1928.0,Lady Chatterley's Lover,eng,0.978452
3001,32071,"D.H. Lawrence, Geoff Dyer",1913.0,Sons and Lovers,en-US,0.974461
993,32085,James Herriot,1972.0,All Creatures Great And Small,eng,0.990157

In [92]:
def map_to_en(x):
    if x in ['en', 'en-CA', 'en-GB', 'en-US', 'eng']: 
        return "en"
    else:
        return x
    
b_new["language_code"] = b_new["language_code"].apply(map_to_en)
b_new["language_code"].value_counts()

C:\Users\melania\Anaconda3\envs\recommendation-systems\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

en     1754
spa       9
fre       7
ger       2
ita       1
Name: language_code, dtype: int64

In [93]:
# use pd.concat to join the new columns with your original dataframe
b_new = pd.concat([b_new,pd.get_dummies(b_new['language_code'], prefix='lang')],axis=1)

# now drop the original 'country' column (you don't need it anymore)
b_new.drop(['language_code'],axis=1, inplace=True)

In [94]:
b_new.tail()

,goodreads_book_id,authors,original_publication_year,original_title,year_scaled,lang_en,lang_fre,lang_ger,lang_ita,lang_spa
9955,31975,"Joss Whedon, John Cassaday",2005.0,"Astonishing X-Men, Volume 2: Dangerous",0.998936,1,0,0,0,0
4074,31979,"Joss Whedon, John Cassaday",2004.0,"Astonishing X-Men, Volume 1: Gifted",0.998670,1,0,0,0,0
1680,32067,"D.H. Lawrence, Doris Lessing, Chester Brown",1928.0,Lady Chatterley's Lover,0.978452,1,0,0,0,0
3001,32071,"D.H. Lawrence, Geoff Dyer",1913.0,Sons and Lovers,0.974461,1,0,0,0,0
993,32085,James Herriot,1972.0,All Creatures Great And Small,0.990157,1,0,0,0,0

In [95]:
b_new.tail()

,goodreads_book_id,authors,original_publication_year,original_title,year_scaled,lang_en,lang_fre,lang_ger,lang_ita,lang_spa
9955,31975,"Joss Whedon, John Cassaday",2005.0,"Astonishing X-Men, Volume 2: Dangerous",0.998936,1,0,0,0,0
4074,31979,"Joss Whedon, John Cassaday",2004.0,"Astonishing X-Men, Volume 1: Gifted",0.998670,1,0,0,0,0
1680,32067,"D.H. Lawrence, Doris Lessing, Chester Brown",1928.0,Lady Chatterley's Lover,0.978452,1,0,0,0,0
3001,32071,"D.H. Lawrence, Geoff Dyer",1913.0,Sons and Lovers,0.974461,1,0,0,0,0
993,32085,James Herriot,1972.0,All Creatures Great And Small,0.990157,1,0,0,0,0

In [96]:
def string_to_list(string): 
    return string.split(", ")
b_new["authors_list"] = b_new["authors"].apply(string_to_list)
b_new.tail()

,goodreads_book_id,authors,original_publication_year,original_title,year_scaled,lang_en,lang_fre,lang_ger,lang_ita,lang_spa,authors_list
9955,31975,"Joss Whedon, John Cassaday",2005.0,"Astonishing X-Men, Volume 2: Dangerous",0.998936,1,0,0,0,0,"[Joss Whedon, John Cassaday]"
4074,31979,"Joss Whedon, John Cassaday",2004.0,"Astonishing X-Men, Volume 1: Gifted",0.998670,1,0,0,0,0,"[Joss Whedon, John Cassaday]"
1680,32067,"D.H. Lawrence, Doris Lessing, Chester Brown",1928.0,Lady Chatterley's Lover,0.978452,1,0,0,0,0,"[D.H. Lawrence, Doris Lessing, Chester Brown]"
3001,32071,"D.H. Lawrence, Geoff Dyer",1913.0,Sons and Lovers,0.974461,1,0,0,0,0,"[D.H. Lawrence, Geoff Dyer]"
993,32085,James Herriot,1972.0,All Creatures Great And Small,0.990157,1,0,0,0,0,[James Herriot]

In [112]:
vocab = np.array(b_new["authors_list"]).flatten()

In [114]:
#flatten the 2D array 
authors_vocab =  [item for sublist in vocab for item in sublist]

In [116]:
authors_vocab = list(set(authors_vocab))

In [117]:
authors_vocab

['George Reavy',
 'John Hodgman',
 'Nancy Farmer',
 'Dave Eggers',
 'Sam Harris',
 'Richard Taylor',
 'Richard Alpert',
 'Garth Ennis',
 'Michael Braungart',
 'Geoff Dyer',
 'Patrick Sskind',
 'Billy Collins',
 'William Bedell Stanford',
 'Mary GrandPr',
 'Mark Buckingham',
 'Darrel Anderson',
 'Rosemarie Morgan',
 'D.H. Lawrence',
 'Andrew Hunt',
 'Ivan Turgenev',
 'Adam McCauley',
 'Albert Camus',
 'Robert Kurson',
 'Cynthia Brantley Johnson',
 'Ridley Pearson',
 'Paola Bianco',
 'Doris Lessing',
 'Ben Avery',
 'Salman Rushdie',
 'David McCullough',
 'Sebastian Faulks',
 'Gustave Flaubert',
 'Anna Quindlen',
 'Mary Lawson',
 'Marjane Satrapi',
 'Arthur Golden',
 'Jerry Spinelli',
 'Joss Whedon',
 'Joyce Johnson',
 'Orhan Pamuk',
 'Bret Lott',
 'Anton Chekhov',
 "America's Test Kitchen",
 'Darick Robertson',
 'Rich Bloomquist',
 'Chester Brown',
 'Jason Baker',
 'Steven L. Hopp',
 'Charles Darwin',
 'Alexandra Fuller',
 'Nancy Bond',
 'Robert Thompson',
 'Antonio Sobejano-Moran',
 'Brendan Hay',
 'Ann Druyan',
 'Chitra Banerjee Divakaruni',
 'Reginald Rose',
 'O. Henry',
 'Annie Dillard',
 'Susan Cooper',
 'Allen Ginsberg',
 'Ron Chernow',
 'Erik Larson',
 'Larry Bossidy',
 'Mary Roach',
 ' ',
 'Jason Winters',
 'Wilhelm Grimm',
 'Charlie Adlard',
 'Donald Miller',
 'Robert Jordan',
 'Richard   Preston',
 'Sue Monk Kidd',
 'David Shannon',
 'Sid Fleischman',
 'Ron Dias',
 'Joseph J. Ellis',
 'Edward P. Jones',
 'Dava Sobel',
 'George Saunders',
 'Richard J. Dunn',
 'David Baggett',
 'Nevill Coghill',
 'Edwidge Danticat',
 'John Cassaday',
 'Wayne W. Dyer',
 'Gary Paulsen',
 'Lawrence Scanlan',
 'Patrick Lencioni',
 'Diana Wynne Jones',
 'Geoffrey Chaucer',
 'Janet Evanovich',
 'Margaret Raine Hunt',
 'Richard Pevear',
 'Margaret Weis',
 'Jacquelyn Mitchard',
 'Maureen Freely',
 'Patrick Stewart',
 'Betty  Smith',
 'M.M. Kaye',
 'Maud Hart Lovelace',
 'Robert Fagles',
 'Kenneth H. Blanchard',
 'Peggy Parish',
 'Pablo Neruda',
 'Richard A. Knaak',
 'Josef Scharl',
 'Anthony Heald',
 'Simon Schama',
 'Kimon Nicolaides',
 'Donald A. Norman',
 'Eric Lindor Fall',
 'David    Allen',
 'Slavomir Rawicz',
 'Dustin Thomason',
 'Burton Raffel',
 'Douglas Adams',
 'Peter de Jonge',
 'Mario Puzo',
 'Mercedes Lackey',
 'Kyle Freeman',
 'Sena Jeter Naslund',
 'Maxine Paetro',
 'Karen V. Kukil',
 'Nicole Krauss',
 'Rags Morales',
 'J.K. Rowling',
 'Tony Tanner',
 'Mark Carwardine',
 'Yann Martel',
 'John Berger',
 'Jorge Luis Borges',
 'Steven D. Levitt',
 'Ed Gorman',
 'Karin Slaughter',
 'Elizabeth Berg',
 'Cliff Rathburn',
 'James Clavell',
 'Ian Fleming',
 'Carl Sagan',
 'John Carey',
 'Gary Saul Morson',
 'Arundhati Roy',
 'Candace Bushnell',
 'James D. Bradley',
 'G.M.A. Grube',
 'Greg Call',
 'Ingrid Christopherson',
 'Betty MacDonald',
 'Nicholas Sparks',
 'Steve Erickson',
 'Jay Rubin',
 'Beatrix Potter',
 'Ovid',
 'Judith McNaught',
 'Gareth Stedman Jones',
 'Chuck Palahniuk',
 'Darren Shan',
 'Barbara Taylor Bradford',
 'Dave McCaig',
 'Fiona Stafford',
 'Bernie Wrightson',
 'Daniel Vozzo',
 'David Simon',
 'Roald Dahl',
 'Jeffrey D. Sachs',
 'Ray Bradbury',
 'Sinclair Lewis',
 'Diane Goode',
 'John Scalzi',
 'Walt Whitman',
 'John Seelye',
 'John Hersey',
 'Peter Salm',
 'J.E. Thomas',
 'Joanne Harris',
 'Jos Saramago',
 'Joseph Grenny',
 'Robert A. Maguire',
 'Rachel Caine',
 'Anthony Gerard',
 'Scott Westerfeld',
 'Merlin Holland',
 'Augustine of Hippo',
 'Hugh Fraser',
 'Robert Baldick',
 'Scott Brick',
 'Marshall McLuhan',
 'Diablo Cody',
 'Robert McCammon',
 'James E. Falen',
 'Ruth E. Harper',
 'J.M. Coetzee',
 'Atul Gawande',
 'Paul Auster',
 'Suketu Mehta',
 'Tom Stoppard',
 'Robert B. Cialdini',
 'F. Scott Fitzgerald',
 'Gerry Bothmer',
 'Deidre Shauna Lynch',
 'Sharon Mazel',
 'Carrie Vaughn',
 'Oliver  Harris',
 'Theodore Taylor',
 'Wally Lamb',
 'Cynthia Voigt',
 'Bob Dylan',
 'Jane Austen',
 'Erda M. Gknar',
 'Joyce Carol Oates',
 'Nick Hornby',
 'Tamora Pierce',
 'Arthur Conan Doyle',
 'James McBride',
 'Maxine Hong Kingston',
 'Tony Schwartz',
 'Richard Bach',
 'Carolyn G. Heilbrun',
 'Dominique Dill',
 'Gary Russell',
 'Rufus Beck',
 'Marisha Pessl',
 'James A. Michener',
 'Walker Percy',
 'Todd Klein',
 'Beth Moore',
 'John Keegan',
 'Stephen Snyder',
 'Michael Connelly',
 'Anthony M. Esolen',
 'Miguel de Cervantes Saavedra',
 'Edward S. Herman',
 'Diskin Clay',
 'Lorrie Moore',
 'Rachel Carson',
 'Andrew Gross',
 'Nick Caistor',
 'Hazel E. Barnes',
 'Sylvia Plath',
 'Nathaniel Philbrick',
 'Cell ster',
 'Jasper Fforde',
 'Thomas Wolfe',
 'Aaron Leichter',
 'John Banville',
 'Harper Lee',
 'Elie Wiesel',
 'Markus Zusak',
 'Ayn Rand',
 'Dave Pelzer',
 'Oscar Wilde',
 'Mark Overstall',
 'Alexandre Dumas fils',
 'John Cheever',
 'Philip Pullman',
 'Catherine Belsey',
 'Sheri Reynolds',
 'David   Lloyd',
 'Peter Straub',
 'Rob Kutner',
 'John le Carr',
 'Craig Thompson',
 'Robert          Jackson',
 "Eugene O'Neill",
 'Virgil',
 'Rodney Ramos',
 'Jim Fern',
 'Arthur C. Clarke',
 'Margaret Atwood',
 'Daniel C. Dennett',
 'Ren Descartes',
 'Michael Slater',
 'Thomas J. Stanley',
 'Edmund White',
 'Lorraine Hansberry',
 'Paul Turner',
 'D.C. Talk',
 'Dr. Seuss',
 'Betsy Chasse',
 'Darick Robertston',
 'Josh Hamilton',
 "Flann O'Brien",
 'Marcus Aurelius',
 'Julia Alvarez',
 'Alan R. Clarke',
 'H. Rider Haggard',
 'Anne Perry',
 'Richard Poe',
 'George Orwell',
 'Kent Williams',
 'A.S. Byatt',
 'Anna Brailovsky',
 'Christopher Bigsby',
 'Anita Shreve',
 'Iain Pears',
 'Clayton M. Christensen',
 'James C. Collins',
 'Christopher Isherwood',
 'Carolly Erickson',
 'Diana L. Paxson',
 'Richard Bachman',
 'Jung Chang',
 'William T. Vollmann',
 'Alexander Pushkin',
 'Armistead Maupin',
 'Gary Chapman',
 'Takeshi Obata',
 'Judi Barrett',
 'Ralph Manheim',
 'Jenna Jameson',
 'Tom Wolfe',
 'Neil Armstrong',
 'Dante Alighieri',
 'Naomi Klein',
 'Philippa Gregory',
 'Richard Eyre',
 'Lydia Davis',
 'Rachel Cohn',
 'Lloyd Alexander',
 'Alyssa  Harad',
 'Gabriel Garca Mrquez',
 'Laura Esquivel',
 'Rick Riordan',
 'Karen Kingsbury',
 'Christopher Moore',
 'Anjali Singh',
 'Brian Herbert',
 'Sally Beauman',
 'Philip Roth',
 'Audrey Penn',
 'Jeannette Walls',
 'Steven Pressfield',
 'Richard Giannone',
 'Isabel Allende',
 'Kate Jacobs',
 'Nikolai Gogol',
 'Michael Bair',
 'Libba Bray',
 'Rebecca Wells',
 'John D. MacDonald',
 'Ian Caldwell',
 'John E. Woods',
 'Hans Hermann',
 'Joe Quesada',
 'P.G. Wodehouse',
 'Leigh Nichols',
 'Charles Burck',
 'John Grogan',
 'Shawn E. Klein',
 'Steele Savage',
 'Bryce Courtenay',
 'Louis Sachar',
 'Michael Ondaatje',
 'Adolph Caso',
 'Michele Wrightson',
 'Snmez Gven',
 'David Cote',
 'Anne Fadiman',
 'Ina Garten',
 'Roger Lowenstein',
 'Daphne du Maurier',
 'Mike Allred',
 'Michael Ende',
 'John Niemeyer Findlay',
 'Annie Proulx',
 'Tracy Chevalier',
 'Sidney Sheldon',
 'Ted Hughes',
 'Bill Willingham',
 'Kate Douglas Wiggin',
 'Michael Herr',
 'Jerry N. Uelsmann',
 'Christina Schwarz',
 'Ralph McCarthy',
 'Michel Foucault',
 'Emily Bront',
 'Robert H. Waterman Jr.',
 'Ernest Hemingway',
 'Edward O. Wilson',
 'E.M. Forster',
 'Chris Bohjalian',
 'Fritjof Capra',
 'Manuel Espn',
 'Lucasta Miller',
 'Hans-Friedrich Mueller',
 'Albert Cook Outler',
 'Pauline Baynes',
 'Alfred Gough',
 'Edward Gibbon',
 'Aleksandr Solzhenitsyn',
 'Robert A. Heinlein',
 'Steve Martin',
 'Rudolfo Anaya',
 'Zoltan Ab di-Nagy',
 'Scott B. Smith',
 'Benjamin DeMott',
 'Chimamanda Ngozi Adichie',
 'Brian K. Vaughan',
 'Louisa May Alcott',
 'V.S. Ramachandran',
 'Jason Ross',
 'Philip Horne',
 'Steve Parkhouse',
 'Howard Zinn',
 'P. Craig Russell',
 'Jared Diamond',
 'David Foster Wallace',
 'Bettina Blanch Tyroller',
 'Tobias Wolff',
 'Shea Anton Pensa',
 'Dean Koontz',
 'Duncan Eagleson',
 'Robert K. Massie',
 'Rex Gibson',
 'Jules Feiffer',
 'Tim Carvell',
 "Bryan Lee O'Malley",
 'Franklin Foer',
 "Madeleine L'Engle",
 'Bret Easton Ellis',
 'E.B. White',
 'Chaim Potok',
 'Paul Theroux',
 'Tracy Hickman',
 'Tony Langham',
 'Johann Wolfgang von Goethe',
 'Thomas Cleary',
 "Heather O'Neill",
 'John Steinbeck',
 'Karen Armstrong',
 'Robert Hurley',
 'Ann-Marie MacDonald',
 'Tony Moore',
 'Gail Carson Levine',
 'William Arntz',
 'Gerald Bevan',
 'David Mamet',
 'Herodotus',
 'Jerry B. Jenkins',
 'Joost Elffers',
 'Florence Lamborn',
 'Richard A. Houser',
 'Eckhart Tolle',
 'Wesley Dennis',
 'Sonia Soto',
 'Jim Butcher',
 'Tommy Lee',
 'William Shakespeare',
 "Cook's Illustrated Magazine",
 'William Golding',
 'Lionel Abel',
 'Neal Stephenson',
 'Isaac Asimov',
 'Sren Kierkegaard',
 'Alan Paton',
 'Charles Frazier',
 'D.B.C. Pierre',
 'Dan Millman',
 'Patricia Schultz',
 'Lynn Sweat',
 'Jeffrey Eugenides',
 'Matthew Pearl',
 'N.K. Sandars',
 'Mike Barnicle',
 'Haruki Murakami',
 'Neale Donald Walsch',
 'Jonathan Safran Foer',
 'Nancy M. Leak',
 'John Bunyan',
 'John Fowles',
 'David Baldacci',
 'Joanna Trollope',
 'Terry Goodkind',
 'William Greider',
 'Henry David Thoreau',
 'Simon Winchester',
 'Mark Kurlansky',
 'Helen Fielding',
 'Evelyn Waugh',
 'W. Somerset Maugham',
 'Mitch Albom',
 'Randy Shilts',
 'Marcel Proust',
 'Anne McCaffrey',
 'Antonia Fraser',
 'Doris Kearns Goodwin',
 'Kenneth Womack',
 'Paulo Coelho',
 'Ron McMillan',
 'Curtis Sittenfeld',
 'Heidi Murkoff',
 ' ',
 'J.R.R. Tolkien',
 'Jerome Klinkowitz',
 'Jeanne DuPrau',
 'Federico Garca Lorca',
 'Miriam Toews',
 'Jacqueline Winspear',
 'Maeve Binchy',
 'Julie Gregory',
 'T.A. Barron',
 'Larissa Volokhonsky',
 'George Ford',
 'John Berendt',
 'Margaret George',
 'Sun Tzu',
 'Henry Miller',
 'James Lundquist',
 'John Milton',
 'Carl Hiaasen',
 'Steve Martini',
 'Ursula K. Le Guin',
 'Martin Gardner',
 'Hablot Knight Browne',
 'John Knowles',
 'Cao Chi',
 'Thomas L. Friedman',
 'Patricia Ingham',
 'Charles Bukowski',
 'Elliot S. Maggin',
 'Patricia E. Easterling',
 'Elizabeth Gilbert',
 'Pearl S. Buck',
 'Alice Hoffman',
 'Miguel Ruiz',
 'Allen W. Wood',
 'Henri Charrire',
 'Rene Cloke',
 'Garth Williams',
 'Bono',
 'John Watkiss',
 'Aldous Huxley',
 'John Burgoyne',
 'Robert Fitzgerald',
 'Lauren Weisberger',
 'Garth Nix',
 'Kristin Cast',
 'Jean-Jacques Rousseau',
 'H. Anna Suh',
 'Don DeLillo',
 'Roger Zelazny',
 'Lorelei King',
 'John Eldredge',
 'John Rutherford',
 'Robert           Jackson',
 'Cecil Murphey',
 'Dudley Fitts',
 'Barbara Kingsolver',
 'Theodore Ziolkowski',
 'Voltaire',
 'Karen Harper',
 'Jack Kerouac',
 'G.E.M. Anscombe',
 'Seamus Deane',
 'Camille Kingsolver',
 'Maureen Howard',
 'William S. Doxey',
 'Donald J. Trump',
 'Elizabeth Kostova',
 'Jonathan Barnes',
 'Arlene Eisenberg',
 'Ann Packer',
 'Barbara Ehrenreich',
 'William S. Burroughs',
 'Jean-Paul Sartre',
 'Jon J. Muth',
 'Marion Wiesel',
 'Keith David',
 'David Raeburn',
 'A.J. Jacobs',
 'Helen Small',
 'William Faulkner',
 'Jonathan Kozol',
 'Martin E.P. Seligman',
 'John M. Marincola',
 'Connie Willis',
 'Malcolm Bowie',
 'Lincoln Child',
 'Gail Kern Paster',
 'Ted Dekker',
 'Plym Peters',
 'Jonathan Harr',
 'Diana Gabaldon',
 'Craig Raine',
 'Trina Schart Hyman',
 'Julie Powell',
 'Raymond Chandler',
 'Hugh Osborne',
 'Chris Bachalo',
 'Jenny Nimmo',
 'Alexandra Boiger',
 'Ursule Molinaro',
 'Laurie Notaro',
 'Stephen Wall',
 'Susan Shillinglaw',
 'Jane Costlow',
 'John Perkins',
 'H.G. Wells',
 'Michael Grant',
 'Jerzy Kosiski',
 'Adrian Alphona',
 'Jimmy Palmiotti',
 'Anne Lamott',
 'Zilpha Keatley Snyder',
 'Toni Morrison',
 'Sarah Dunant',
 'Max Brooks',
 'Michael Cunningham',
 'Carol Christensen',
 'Kerry Patterson',
 'Kelley Jones',
 'Eric Schlosser',
 'Herman Melville',
 'Mary Doria Russell',
 'Margaret Mitchell',
 'Kate Mosse',
 'Ros Ballaster',
 'Marilynne Robinson',
 'Monica Ali',
 'Benjamin Martinez',
 'Peter S. Beagle',
 'Donna Woolfolk Cross',
 'Thich Nhat Hanh',
 'Colleen McCullough',
 'Maya Angelou',
 'Cathleen Miller',
 'Leonard Mustazza',
 'Norton Juster',
 'Mary McGarry Morris',
 'Christopher Lee',
 'Thomas Pynchon',
 'Tony Harris',
 'Catherine Gilbert Murdock',
 'James Stern',
 'Raymond Carver',
 'Reza Aslan',
 'Ron Powers',
 'Carlo Pagetti',
 'Norman Mailer',
 'Carlos Castaneda',
 'Nicola Bradbury',
 'John Irving',
 'Raymond E. Feist',
 'Annette Curtis Klause',
 'Michael Ledwidge',
 'Joan Didion',
 'Keith Szarabajka',
 'M.A. Screech',
 'Nora Roberts',
 'Victoria Blake',
 'Robin McKinley',
 'R.J. Hollingdale',
 'Jon Stewart',
 'Judy Blume',
 'Barbara A. Mowat',
 'Anne Rice',
 'Barbara W. Tuchman',
 'Nelson DeMille',
 'Anne Rampling',
 'Neil Strauss',
 'Kevin Hawkes',
 'Malcolm Jones III',
 'Al Switzler',
 'Anita Diamant',
 'H.T. Willetts',
 'Joel Schick',
 'Matthew J. Bruccoli',
 'Gene Stratton-Porter',
 'Unknown',
 'William Goldman',
 'Sherman Alexie',
 'David McDuff',
 'Robert Sabuda',
 'John M. Barry',
 'James Anderson',
 'Frances Hodgson Burnett',
 'Marguerite Duras',
 'Scott Jacobson',
 'John L. Simons',
 'Linda Asher',
 'Terry Pratchett',
 'David Giordano',
 'Donna Freed',
 'Mary Kinzie',
 'Ben Carson',
 'Ignes Sodre',
 'Victoria Pearson',
 'Ric Gonzlez',
 'Winnie Holzman',
 'Alexandre Dumas',
 'Robert Kirkman',
 'Roger Gard',
 'Katherine Dunn',
 'Jeffrey Archer',
 'Mark Helprin',
 'Neil deGrasse Tyson',
 'Mary Warnock',
 'Oliver Sacks',
 'Ilan Stavans',
 "Patrick O'Brian",
 'Andrew Hurley',
 'A.N. Roquelaure',
 'Jill Thompson',
 'Norman MacAfee',
 'Giovanni Pontiero',
 'Joe Simpson',
 'Michael Pollan',
 'Jean M. Auel',
 'Walter J. Cobb',
 'Anthony R. Ferris',
 'Piers Anthony',
 'Stephen Mitchell',
 'Michael Moorcock',
 'Bruce Sterling',
 'Michael Mason',
 'Natsuo Kirino',
 'Douglas Coupland',
 'Gillian McCain',
 'Tori Amos',
 'James E. Irby',
 'David Bach',
 'Aeschylus',
 'Stephen Colbert',
 'Richard Andrews',
 'Jon Krakauer',
 'Rob Corddry',
 'Noam Chomsky',
 'Byron Katie',
 'Richard Rhodes',
 'C.J. Critt',
 'Tasha Tudor',
 'Shawn McManus',
 'Alan Jay Lerner',
 'David Almond',
 'Jostein Gaarder',
 'J.S. Bernstein',
 'Peter D. Kramer',
 'Ruth Reichl',
 'Katherine Paterson',
 'Maurice Cranston',
 'Alan Brennert',
 'Ram Charan',
 'Ann Patchett',
 'Tony Goldwyn',
 'Daphne Merkin',
 'David Coward',
 'Niccol Machiavelli',
 'Samantha Bee',
 'Daniel Defoe',
 'Stuart J. Woolf',
 'Leonard Mlodinow',
 'Rufus Goodwin',
 'Margaret Sayers Peden',
 'Astrid Lindgren',
 'Edith Wharton',
 'Alison Leslie Gold',
 'Kate Atkinson',
 'Brad Thor',
 'Patricia Crampton',
 'Walter Isaacson',
 'Nancy Seligsohn',
 'Susanne Kuhlmann-Krieg',
 'Barry Schwartz',
 'Sarah Dessen',
 'George Eliot',
 'C.S. Lewis',
 'Andy Kubert',
 'Danielle Steel',
 'Nina Auerbach',
 'Richard Wright',
 'Shannon Russell',
 'Martin Amis',
 'Max Frisch',
 'Ben Marcus',
 'Anthony Robbins',
 'Ernst Kaiser',
 'John Saul',
 'Al Franken',
 'Jonathan Franzen',
 'Robert Ludlum',
 'Jerome Agel',
 'Lowell Bair',
 'Plato',
 'David Javerbaum',
 'Saulius Dagys',
 'William Olivier Desmond',
 'Adam Gopnik',
 'Margaret Sidney',
 'Lance Armstrong',
 'Auguste Maquet',
 'Tad Williams',
 'Ai Yazawa',
 'Jack London',
 'William Weaver',
 'Robert M. Durling',
 "Robert C. O'Brien",
 'Glen David Gold',
 'Johanna Spyri',
 'Jen Lancaster',
 'Thomas More',
 'Kim Harrison',
 'Christopher Hitchens',
 'Dick Hill',
 'Patricia Cornwell',
 'Ellen Raskin',
 'Lois Lenski',
 'Sandra Boynton',
 'Augusten Burroughs',
 'Elena Bono',
 'Rosemary Wells',
 'Sally Jenkins',
 'Various',
 'William McDonough',
 'Aylmer Maude',
 'Trudi Canavan',
 'Stephen R. Donaldson',
 'Jeffery Hudson',
 'Frank  Muller',
 'Archibald Colquhoun',
 'Quentin Blake',
 'Pat Barker',
 'Patricia Highsmith',
 'Robin Buss',
 'Katherine Streeter',
 'Mike Dringenberg',
 'Jon Lee Anderson',
 'Donald A. Cress',
 'Maureen Johnson',
 'Frank E. Peretti',
 'Jodi Picoult',
 'Steve Krug',
 'Jodee Blanco',
 'Brian Jacques',
 'Stendhal',
 'Edwin Muir',
 'Jennifer Weiner',
 'David H. Goldsmith',
 'Laura Gibbs',
 'Marguerite Henry',
 'Douglas Smith',
 'Rohinton Mistry',
 'Nick Flynn',
 'Janny Wurts',
 'David Eddings',
 'Victoria Finlay',
 'Jon Ronson',
 'Wallace Stegner',
 'Thomas Harris',
 'Neil D. Isaacs',
 'Gary Chalk',
 'Elizabeth George Speare',
 'Norman Maclean',
 'Loung Ung',
 'Mark Vicente',
 'Viktor E. Frankl',
 'Aristotle',
 'Malcolm Gladwell',
 'T.C. Boyle',
 'Melinda Haynes',
 'Ian McKellen',
 'Immanuel Kant',
 'Ram Dass',
 'Edmond Rostand',
 'J.R. Havlan',
 'Nicholas Evans',
 'Gian Battista Piranesi',
 'Ernest J. Gaines',
 'Nahum N. Glatzer',
 'George Pratt',
 'Tom Johnson',
 'Sherwood Smith',
 'Dan Brown',
 'Jason Reich',
 'Richard Winston',
 'Dorothy Allison',
 'Napoleon Hill',
 'Jonathan Swift',
 'Kenneth Grahame',
 'Lech Jczmyk',
 'E.E. Cummings',
 'Mamie Harmon',
 'Roger Pearson',
 'Colleen Doran',
 'Friedrich Engels',
 'Anonymous',
 'William Carlos Williams',
 'Michel Faber',
 'Enid Blyton',
 'Sandra Brown',
 'Robert Greene',
 'John Tenniel',
 'Leinil Francis Yu',
 'James Kinsley',
 'George Cruikshank',
 'Martha Grimes',
 'Caroline B. Cooney',
 'Steve Berry',
 'Anne Michaels',
 'Fannie Flagg',
 'Howard Roughan',
 'Jerome K. Jerome',
 'Michael Henry Heim',
 'Alexander McCall Smith',
 'Aristophanes',
 'Marie Milpois',
 'Vladimir Nabokov',
 'Eithne Wilkins',
 'Maurice Hindle',
 'Daniel J. Van Ackere',
 'Jos. A. Smith',
 'Roma Gill',
 'Tom Robbins',
 'CLAMP',
 'William Johnston',
 'mile Zola',
 'Gary Smalley',
 'Charles Stross',
 'Melinda Long',
 'James Redfield',
 'E. Dale Saunders',
 'R.K. Narayan',
 'Neil Gaiman',
 'Steve Bodow',
 'Keith Akin',
 'Mark Haddon',
 'Hugh Tredennick',
 'Alan Lee',
 'Jane Hamilton',
 'Donald A. Yates',
 'Linda Lear',
 'John M. Cooper',
 'Paul Jenkins',
 'Robert Penn Warren',
 'David Fishelson',
 'Bram Stoker',
 'Terry Southern',
 'Dave McKean',
 'Gwyn Hyman Rubio',
 'Kresley Cole',
 'Barbara Ann Brennan',
 'Robert W. Lawson',
 'Wilson Rawls',
 'George R.R. Martin',
 "Justin O'Brien",
 'James M. Cain',
 'Glenn Fabry',
 'Lionel Trilling',
 'Daniel Keyes',
 'Lalita Tademy',
 'Thomas E. Connolly',
 'Noel Streatfeild',
 'Pat Conroy',
 'Michael Azerrad',
 'Peter Bart',
 'Beverly Cleary',
 'Sarah Vowell',
 'Loree Rackstraw',
 'Andy Warhol',
 'Claire Messud',
 'Rumiko Takahashi',
 'Judith Affleck',
 'Daniel Goleman',
 'Juliet Marillier',
 'Rian Verhoeven',
 'Gary Amaro',
 'Angelo  Rinaldi',
 'Tennessee Williams',
 'Lee Child',
 'Steve Perry',
 'Dale Carnegie',
 'Erica Jong',
 'Steve Leialoha',
 'Christopher Paolini',
 'Alan Lightman',
 'Edith Grossman',
 'Alain de Botton',
 'Rainer Funk',
 'Stephen Tapscott',
 'Suzanne Rappaport',
 'Robert Graves',
 'Alice Munro',
 'Aesop',
 'Beryl Markham',
 'Theo LeSieg',
 'Douglas R. Hofstadter',
 'Karen Hesse',
 'Miep Gies',
 'Wallace Tripp',
 'Thomas  Christensen',
 'Agatha Christie',
 'Sydney Taylor',
 'Andrew R. MacAndrew',
 'John Sandford',
 'Joe Haldeman',
 'William Makepeace Thackeray',
 'Kelley Armstrong',
 'Leo Tolstoy',
 'Henry James',
 'Lois Lowry',
 ...]

In [134]:
from sklearn.preprocessing import MultiLabelBinarizer

mlb = MultiLabelBinarizer()

df_authors = pd.DataFrame(mlb.fit_transform(b_new["authors_list"]),columns=mlb.classes_, index=b_new["authors_list"].index)

In [149]:
df_authors.tail()

,A.J. Jacobs,A.N. Roquelaure,A.S. Byatt,A.V. Miller,Aaron Leichter,Adam Gopnik,Adam McCauley,Adam Smith,Adolph Caso,Adrian Alphona,...,Zoltan Ab di-Nagy,Zo Heller,collaborative,sne Seierstad,mile Zola,,,,,
9955,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4074,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1680,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3001,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
993,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [141]:
#TODO - title as TF-IDF?

In [142]:
b_feat = b_new[["goodreads_book_id", "year_scaled", "lang_en", "lang_spa", "lang_fre", "lang_ger", "lang_ita"]]

In [143]:
b_feat.head()

,goodreads_book_id,year_scaled,lang_en,lang_spa,lang_fre,lang_ger,lang_ita
26,1,0.998936,1,0,0,0,0
20,2,0.998404,1,0,0,0,0
1,3,0.996808,1,0,0,0,0
17,5,0.997340,1,0,0,0,0
23,6,0.997606,1,0,0,0,0

In [70]:
#TODO: dimentionality reduction na  df       
#TODO:     content-based

In [151]:
#Reduce dimentionality
from sklearn.decomposition import TruncatedSVD

arr_authors_reduced = TruncatedSVD(n_components=50, random_state=0).fit_transform(df_authors)

In [152]:
df_authors_reduced = pd.DataFrame(arr_authors_reduced, index = b_feat.index)

In [154]:
df_authors_reduced.tail()

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
9955,-3.706273e-06,1.990695e-05,1.324059e-04,-1.319667e-04,3.161490e-05,-1.481943e-04,-3.489173e-04,6.651125e-04,-4.724110e-04,-3.067990e-04,...,0.008091,-0.000251,0.004731,0.005158,0.001048,-0.020621,5.019541e-03,-0.013602,0.013296,0.007784
4074,-3.706273e-06,1.990695e-05,1.324059e-04,-1.319667e-04,3.161490e-05,-1.481943e-04,-3.489173e-04,6.651125e-04,-4.724110e-04,-3.067990e-04,...,0.008091,-0.000251,0.004731,0.005158,0.001048,-0.020621,5.019541e-03,-0.013602,0.013296,0.007784
1680,5.531528e-06,-9.831084e-06,4.634911e-05,-8.888815e-05,-1.034366e-05,1.624093e-04,7.141126e-04,-5.239377e-04,-3.561979e-04,3.947394e-04,...,-0.005426,-0.009510,0.006782,-0.010679,0.021227,0.004696,-2.811526e-02,0.027178,-0.007500,0.000125
3001,3.962174e-06,-6.986229e-06,3.363554e-05,-6.454925e-05,-8.348237e-06,1.174915e-04,5.159352e-04,-3.656057e-04,-2.510092e-04,2.930541e-04,...,-0.003984,-0.006839,0.004785,-0.007524,0.015232,0.003397,-2.004138e-02,0.019274,-0.005520,0.000045
993,6.573443e-10,3.364237e-10,4.132268e-08,-6.694174e-10,1.017231e-08,-2.891141e-08,-1.604116e-08,-1.007866e-07,-1.306409e-07,1.830139e-07,...,-0.000003,-0.000002,-0.000001,-0.000006,-0.000002,0.000003,-1.759105e-08,-0.000001,0.000003,-0.000002

In [155]:
result = pd.concat([b_feat, df_authors_reduced], axis=1, sort=False, join='inner')

In [156]:
result.head()

,goodreads_book_id,year_scaled,lang_en,lang_spa,lang_fre,lang_ger,lang_ita,0,1,2,...,40,41,42,43,44,45,46,47,48,49
26,1,0.998936,1,0,0,0,0,-0.000001,0.000013,0.000039,...,0.000652,-0.00060,-0.001637,-0.002319,0.000651,0.001362,-0.001271,-0.001446,-0.000654,0.001302
20,2,0.998404,1,0,0,0,0,-0.000001,0.000013,0.000039,...,0.000652,-0.00060,-0.001637,-0.002319,0.000651,0.001362,-0.001271,-0.001446,-0.000654,0.001302
1,3,0.996808,1,0,0,0,0,-0.000001,0.000013,0.000039,...,0.000652,-0.00060,-0.001637,-0.002319,0.000651,0.001362,-0.001271,-0.001446,-0.000654,0.001302
17,5,0.997340,1,0,0,0,0,-0.000001,0.000014,0.000042,...,0.000696,-0.00064,-0.001755,-0.002482,0.000696,0.001457,-0.001360,-0.001550,-0.000699,0.001394
23,6,0.997606,1,0,0,0,0,-0.000001,0.000013,0.000039,...,0.000652,-0.00060,-0.001637,-0.002319,0.000651,0.001362,-0.001271,-0.001446,-0.000654,0.001302

In [158]:
result.shape

(2000, 57)

In [163]:
result.drop(['goodreads_book_id'],axis=1, inplace=True)

In [164]:
result.tail()

,year_scaled,lang_en,lang_spa,lang_fre,lang_ger,lang_ita,0,1,2,3,...,40,41,42,43,44,45,46,47,48,49
9955,0.998936,1,0,0,0,0,-3.706273e-06,1.990695e-05,1.324059e-04,-1.319667e-04,...,0.008091,-0.000251,0.004731,0.005158,0.001048,-0.020621,5.019541e-03,-0.013602,0.013296,0.007784
4074,0.998670,1,0,0,0,0,-3.706273e-06,1.990695e-05,1.324059e-04,-1.319667e-04,...,0.008091,-0.000251,0.004731,0.005158,0.001048,-0.020621,5.019541e-03,-0.013602,0.013296,0.007784
1680,0.978452,1,0,0,0,0,5.531528e-06,-9.831084e-06,4.634911e-05,-8.888815e-05,...,-0.005426,-0.009510,0.006782,-0.010679,0.021227,0.004696,-2.811526e-02,0.027178,-0.007500,0.000125
3001,0.974461,1,0,0,0,0,3.962174e-06,-6.986229e-06,3.363554e-05,-6.454925e-05,...,-0.003984,-0.006839,0.004785,-0.007524,0.015232,0.003397,-2.004138e-02,0.019274,-0.005520,0.000045
993,0.990157,1,0,0,0,0,6.573443e-10,3.364237e-10,4.132268e-08,-6.694174e-10,...,-0.000003,-0.000002,-0.000001,-0.000006,-0.000002,0.000003,-1.759105e-08,-0.000001,0.000003,-0.000002

In [46]:
#save to csv 
#result.to_csv('data/book_feat_reduced_new.csv', header=False, index=False)

## Vectorizing tags using their count

In [30]:
bt_reduced.head()

   goodreads_book_id  tag_id   count
0                  1   30574  167697
1                  1   11305   37174
2                  1   11557   34173
3                  1    8717   12986
4                  1   33114   12716

In [ ]:
bt_reduced

In [31]:
len(bt_reduced)

200000

In [34]:
pivot_table = bt_reduced.pivot_table(values="count", index="goodreads_book_id", columns="tag_id", aggfunc="sum", fill_value=0)

In [35]:
pivot_table

tag_id,0,3,11,16,22,23,24,27,36,38,...,34185,34194,34206,34229,34239,34240,34241,34247,34248,34250
goodreads_book_id,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31975,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
31979,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
32067,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
32071,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
32085,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [40]:
pivot_table.columns

Int64Index([    0,     3,    11,    16,    22,    23,    24,    27,    36,
               38,
            ...
            34185, 34194, 34206, 34229, 34239, 34240, 34241, 34247, 34248,
            34250],
           dtype='int64', name='tag_id', length=11380)

In [45]:
pivot_table.to_csv('data/tag_count_reduced.csv', header=False, index=False)

In [47]:
#Reduce dimentionality
from sklearn.decomposition import TruncatedSVD

tag_count_reduced = TruncatedSVD(n_components=50, random_state=0).fit_transform(pivot_table)

In [49]:
tag_count_reduced.shape

(2000, 50)

In [51]:
tag_count_reduced_df = pd.DataFrame(tag_count_reduced)

In [52]:
tag_count_reduced_df

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,169715.684409,44108.126449,-20630.727991,-8607.428770,6130.002151,-3549.488358,794.851796,3069.393311,588.264901,-670.493657,...,-4.477063,84.421612,250.877082,3.026683,-62.647454,174.464323,-213.135551,-229.664726,188.893046,-147.008469
1,24857.623030,4733.961841,-1794.517506,910.782880,895.786168,-139.709492,14.404090,553.482212,158.434454,-94.645933,...,511.736442,-542.935078,643.954113,-290.501905,-292.295990,393.209922,-172.412178,253.486411,-318.472715,-339.754417
2,499702.801413,53825.789470,-27408.532131,3783.169324,10965.196892,-6343.897101,1425.524848,3562.072881,-279.687178,-1835.002912,...,-122.209582,-151.530613,-81.266588,-45.745038,145.581063,-392.346236,426.586654,50.962073,-27.588455,229.238660
3,14750.936276,59163.770665,-17500.592179,-324.788193,9901.278594,-3801.099017,606.867584,1985.504078,826.184925,-1233.916279,...,101.083661,209.559802,410.532197,-4.328708,-63.359053,161.804651,-110.445687,-227.697346,-72.124469,-210.934055
4,1184.434620,29914.333039,-21603.241761,-6503.772681,-18360.582166,4694.925865,-3006.570820,8259.488353,2271.060811,5275.341400,...,137.918777,65.453100,-1151.845057,-11.526441,202.328827,65.415457,-262.366950,411.948436,-27.109267,81.247838
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,1660.185482,-10.468491,-34.731103,-37.806535,15.933800,41.389508,16.834520,-19.452831,15.267930,-21.703615,...,-5.930606,24.369522,6.725611,-5.193121,-3.617638,-1.887087,14.889788,17.339495,1.480670,8.914905
1996,1986.491961,138.747468,-5.271194,225.367130,58.161308,61.800632,20.630950,-40.571472,17.948861,-31.483905,...,-6.899668,35.506158,18.329272,-9.540330,4.606659,2.572643,8.733163,8.941768,0.774407,-1.137383
1997,2045.886831,1024.345215,2540.781243,-672.973693,-1338.324547,-649.277910,139.625271,71.926687,-0.611186,238.904654,...,-79.238341,55.193352,16.203426,-5.703839,165.954824,-81.207099,39.752009,-19.280319,3.388792,37.354314
1998,28467.120961,84.835545,1023.814409,664.424992,-464.306823,211.241939,-193.937217,117.770774,1.756102,30.149633,...,-39.887693,-24.048879,-13.424504,8.565571,28.433016,-17.422586,-5.410185,5.244616,-3.443972,0.539733
1999,30872.580746,-522.578135,-35.666663,-297.967918,398.212283,-127.430540,127.179141,-369.300228,1048.183731,206.595938,...,38.896613,-83.608803,12.606651,-43.750371,-2.402739,5.543268,-108.258942,54.063540,-62.754046,65.002210

In [53]:
tag_count_reduced_df.to_csv('data/tag_count_reduced.csv', header=False, index=False)