# Mapping tags to DBPedia nodes using DBPedia Spotlight

In [4]:
import pandas as pd 
import numpy as np 
import requests

In [5]:
def find_dbpedia_node(tag): 
    """Find corresponding DBpedia node. """
    URL = "https://api.dbpedia-spotlight.org/en/annotate" 
    PARAMS = {'text': tag} 
    HEADERS = {'Accept': 'application/json'}
    try: 
        r = requests.get(url = URL, params = PARAMS, headers=HEADERS) 
        data = r.json() 
        nodes = [] 
        if 'Resources' in data.keys(): 
            for r in data['Resources']: 
                nodes.append(r['@URI'])
        else: 
            nodes = []
            
        return nodes
    except Exception as e: 
        return r

In [6]:
find_dbpedia_node("Stephen King")

['http://dbpedia.org/resource/Stephen_King']

In [35]:
type([1,2,3])

list

In [7]:
df_tags = pd.read_csv("data/tags_experiments_2_dbpedia.csv", 
#                      dtype={'tag_id': np.int32, 'tag_name': str, 'cleaned_tag': str, 'DBPedia_nodes': list} 
                     )

In [8]:
df_tags.head()

,tag_id,tag_name,cleaned_tag,DBPedia_nodes
0,28583,started-but-didn-t-finish,Started But Didn T Finish,[]
1,28584,started-but-never-finished,Started But Never Finished,[]
2,28585,started-but-not-finished,Started But Not Finished,[]
3,28586,started-didn-t-finish,Started Didn T Finish,[]
4,28587,started-didn-t-like-enough-to-fini,Started Didn T Like Enough To Fini,[]

In [9]:
len(df_tags)

102

In [10]:
df_tags["DBPedia_nodes"][22]

"['http://dbpedia.org/resource/Stay_Hungry_Stay_Foolish', 'http://dbpedia.org/resource/Foolish_(Ashanti_song)']"

In [11]:
def read_as_list(value): 
    value = value.replace("[","").replace("]","").replace("'","").split(", ")
    if value == ['']: 
        return []
    else: 
        return value

In [12]:
df_tags["DBPedia_nodes"] = df_tags["DBPedia_nodes"].apply(read_as_list)

In [13]:
df_tags["DBPedia_nodes"][22]

['http://dbpedia.org/resource/Stay_Hungry_Stay_Foolish',
 'http://dbpedia.org/resource/Foolish_(Ashanti_song)']

In [14]:
df_tags["DBPedia_nodes"][0]

[]

In [15]:
is_not_empty = df_tags["DBPedia_nodes"].apply(len) > 0

In [16]:
is_not_empty

0      False
1      False
2      False
3      False
4      False
       ...
97     False
98      True
99      True
100    False
101     True
Name: DBPedia_nodes, Length: 102, dtype: bool

In [17]:
df_nodes = df_tags[is_not_empty]
df_nodes

,tag_id,tag_name,cleaned_tag,DBPedia_nodes
7,28590,started-reading,Started Reading,[http://dbpedia.org/resource/Reading_F.C.]
22,28605,stay-hungry-stay-foolish,Stay Hungry Stay Foolish,[http://dbpedia.org/resource/Stay_Hungry_Stay_...
26,28609,steam-punk,Steam Punk,[http://dbpedia.org/resource/Steam]
27,28610,steampunk,Steampunk,[http://dbpedia.org/resource/Steampunk]
36,28619,stefan-s-diaries,Stefan S Diaries,[http://dbpedia.org/resource/Stefan_Salvatore]
37,28620,stefan-zweig,Stefan Zweig,[http://dbpedia.org/resource/Stefan_Zweig]
39,28622,steig-larsson,Steig Larsson,[http://dbpedia.org/resource/Henrik_Larsson]
42,28625,stella-gibbons,Stella Gibbons,[http://dbpedia.org/resource/Stella_Gibbons]
45,28628,stendhal,Stendhal,[http://dbpedia.org/resource/Stendhal]
54,28637,stephanie,Stephanie,[http://dbpedia.org/resource/Stephanie_McMahon]
55,28638,stephanie-bond,Stephanie Bond,[http://dbpedia.org/resource/Stephanie_Bond_(a...
56,28639,stephanie-evanovich,Stephanie Evanovich,[http://dbpedia.org/resource/Stephanie_Plum]
57,28640,stephanie-meyer,Stephanie Meyer,[http://dbpedia.org/resource/Stephanie_McMahon]
58,28641,stephanie-perkins,Stephanie Perkins,[http://dbpedia.org/resource/Stephanie_Perkins]
59,28642,stephanie-plum,Stephanie Plum,[http://dbpedia.org/resource/Stephanie_Plum]
60,28643,stephanie-plum-books,Stephanie Plum Books,[http://dbpedia.org/resource/Stephanie_Plum]
61,28644,stephanie-plum-novels,Stephanie Plum Novels,[http://dbpedia.org/resource/Stephanie_Plum]
62,28645,stephanie-plum-series,Stephanie Plum Series,[http://dbpedia.org/resource/Stephanie_Plum]
63,28646,stephanie-s-favorites,Stephanie S Favorites,[http://dbpedia.org/resource/Stephanie_McMahon]
66,28649,stephen-ambrose,Stephen Ambrose,[http://dbpedia.org/resource/Stephen_E._Ambrose]
67,28650,stephen-baxter,Stephen Baxter,[http://dbpedia.org/resource/Stephen_Baxter_(a...
68,28651,stephen-clarke,Stephen Clarke,[http://dbpedia.org/resource/Stephen_Clarke_(s...
69,28652,stephen-colbert,Stephen Colbert,[http://dbpedia.org/resource/Stephen_Colbert]
70,28653,stephen-coonts,Stephen Coonts,[http://dbpedia.org/resource/Stephen_Coonts]
71,28654,stephen-covey,Stephen Covey,[http://dbpedia.org/resource/Stephen_Covey]
72,28655,stephen-crane,Stephen Crane,[http://dbpedia.org/resource/Stephen_Crane]
73,28656,stephen-donaldson,Stephen Donaldson,[http://dbpedia.org/resource/Stephen_R._Donald...
74,28657,stephen-e-ambrose,Stephen E Ambrose,[http://dbpedia.org/resource/Ambrose]
75,28658,stephen-fry,Stephen Fry,[http://dbpedia.org/resource/Stephen_Fry]
76,28659,stephen-hawking,Stephen Hawking,[http://dbpedia.org/resource/Stephen_Hawking]
77,28660,stephen-hunter,Stephen Hunter,[http://dbpedia.org/resource/Stephen_Hunter]
78,28661,stephen-hunter-bob-lee-swagger,Stephen Hunter Bob Lee Swagger,"[http://dbpedia.org/resource/Stephen_Hunter, h..."
79,28662,stephen-kendrick,Stephen Kendrick,[http://dbpedia.org/resource/Stephen_Kendrick]
80,28663,stephen-king,Stephen King,[http://dbpedia.org/resource/Stephen_King]
81,28664,stephen-king-books,Stephen King Books,[http://dbpedia.org/resource/Stephen_King]
82,28665,stephen-king-collection,Stephen King Collection,[http://dbpedia.org/resource/Stephen_King]
83,28666,stephen-king-dark-tower-listmania,Stephen King Dark Tower Listmania,"[http://dbpedia.org/resource/Stephen_King, htt..."
84,28667,stephen-king-project,Stephen King Project,[http://dbpedia.org/resource/Stephen_King]
85,28668,stephen-king-read,Stephen King Read,[http://dbpedia.org/resource/Stephen_King]
86,28669,stephen-king-recommendations,Stephen King Recommendations,[http://dbpedia.org/resource/Stephen_King]
87,28670,stephen-king-recommends,Stephen King Recommends,[http://dbpedia.org/resource/Stephen_King]
88,28671,stephen-king-recs,Stephen King Recs,[http://dbpedia.org/resource/Stephen_King]
89,28672,stephen-king-tbr,Stephen King Tbr,[http://dbpedia.org/resource/Stephen_King]
90,28673,stephen-king-the-gunslinger,Stephen King The Gunslinger,"[http://dbpedia.org/resource/Stephen_King, htt..."
91,28674,stephen-king-to-read,Stephen King To Read,[http://dbpedia.org/resource/Stephen_King]
92,28675,stephen-king-universe,Stephen King Universe,[http://dbpedia.org/resource/Stephen_King]
93,28676,stephen-lawhead,Stephen Lawhead,[http://dbpedia.org/resource/Stephen_R._Lawhead]
95,28678,stephen-r-donaldson,Stephen R Donaldson,[http://dbpedia.org/resource/Stephen_R._Donald...
98,28681,stephenie-meyer,Stephenie Meyer,[http://dbpedia.org/resource/Stephenie_Meyer]
99,28682,stephenie-meyer-books,Stephenie Meyer Books,[http://dbpedia.org/resource/Stephenie_Meyer]
101,28684,stephenson,Stephenson,[http://dbpedia.org/resource/Lance_Stephenson]

In [18]:
def explode(df, lst_cols, fill_value='', preserve_index=False):
    # make sure `lst_cols` is list-alike
    if (lst_cols is not None
        and len(lst_cols) > 0
        and not isinstance(lst_cols, (list, tuple, np.ndarray, pd.Series))):
        lst_cols = [lst_cols]
    # all columns except `lst_cols`
    idx_cols = df.columns.difference(lst_cols)
    # calculate lengths of lists
    lens = df[lst_cols[0]].str.len()
    # preserve original index values    
    idx = np.repeat(df.index.values, lens)
    # create "exploded" DF
    res = (pd.DataFrame({
                col:np.repeat(df[col].values, lens)
                for col in idx_cols},
                index=idx)
             .assign(**{col:np.concatenate(df.loc[lens>0, col].values)
                            for col in lst_cols}))
    # append those rows that have empty lists
    if (lens == 0).any():
        # at least one list in cells is empty
        res = (res.append(df.loc[lens==0, idx_cols], sort=False)
                  .fillna(fill_value))
    # revert the original index order
    res = res.sort_index()
    # reset index if requested
    if not preserve_index:        
        res = res.reset_index(drop=True)
    return res

In [19]:
df_nodes = explode(df_tags, ["DBPedia_nodes"], fill_value='')
df_nodes

,cleaned_tag,tag_id,tag_name,DBPedia_nodes
0,Started But Didn T Finish,28583,started-but-didn-t-finish,
1,Started But Never Finished,28584,started-but-never-finished,
2,Started But Not Finished,28585,started-but-not-finished,
3,Started Didn T Finish,28586,started-didn-t-finish,
4,Started Didn T Like Enough To Fini,28587,started-didn-t-like-enough-to-fini,
...,...,...,...,...
101,Stephen_King,28680,stephen_king,
102,Stephenie Meyer,28681,stephenie-meyer,http://dbpedia.org/resource/Stephenie_Meyer
103,Stephenie Meyer Books,28682,stephenie-meyer-books,http://dbpedia.org/resource/Stephenie_Meyer
104,Stephenking,28683,stephenking,
105,Stephenson,28684,stephenson,http://dbpedia.org/resource/Lance_Stephenson

In [22]:
df_bt = pd.read_csv("data/book_tags_reduced.csv", index_col=0)

In [23]:
df_bt.head()

   goodreads_book_id  tag_id   count
0                  1   30574  167697
1                  1   11305   37174
2                  1   11557   34173
3                  1    8717   12986
4                  1   33114   12716

In [24]:
len(df_bt)

200000

In [25]:
#t = pd.read_csv("tags.csv")

In [26]:
#merge with tags name
df_bt = df_bt.merge(df_nodes, on = 'tag_id', copy=False)
df_bt

,goodreads_book_id,tag_id,count,cleaned_tag,tag_name,DBPedia_nodes
0,25,28601,20,States,states,
1,26,28601,8,States,states,
2,1067,28601,22,States,states,
3,2203,28601,25,States,states,
4,4138,28601,22,States,states,
...,...,...,...,...,...,...
376,25148,28591,1,Started_But_Not_Finished,started_but_not_finished,
377,26506,28616,17,Steel Danielle,steel-danielle,
378,26506,28614,17,Steel,steel,
379,26506,28615,3,Steel Danielle,steel--danielle,
380,26596,28588,2,Started Never Finished,started-never-finished,

In [29]:
b = pd.read_csv("data/books.csv")

In [28]:
#marge with books titles
df_bt = df_bt.merge(b[[ 'goodreads_book_id', 'title']], on = 'goodreads_book_id', copy=False)

NameError: name 'b' is not defined

In [225]:
df_new = df_bt.replace({'': None})
df_new.head()

,goodreads_book_id,tag_id,count,cleaned_tag,tag_name,DBPedia_nodes,title
0,25,28601,20,States,states,None,I'm a Stranger Here Myself: Notes on Returning...
1,26,28601,8,States,states,None,The Lost Continent: Travels in Small Town America
2,1067,28601,22,States,states,None,1776
3,2203,28601,25,States,states,None,John Adams
4,2203,28598,22,State,state,None,John Adams

In [226]:
df_new

,goodreads_book_id,tag_id,count,cleaned_tag,tag_name,DBPedia_nodes,title
0,25,28601,20,States,states,None,I'm a Stranger Here Myself: Notes on Returning...
1,26,28601,8,States,states,None,The Lost Continent: Travels in Small Town America
2,1067,28601,22,States,states,None,1776
3,2203,28601,25,States,states,None,John Adams
4,2203,28598,22,State,state,None,John Adams
5,4138,28601,22,States,states,None,Naked
6,4952,28601,21,States,states,None,What Is the What
7,9742,28601,21,States,states,None,The Audacity of Hope: Thoughts on Reclaiming t...
8,9742,28598,21,State,state,None,The Audacity of Hope: Thoughts on Reclaiming t...
9,10878,28601,11,States,states,None,The Great Shark Hunt: Strange Tales from a Str...
10,10882,28601,8,States,states,None,Hell's Angels: A Strange and Terrible Saga
11,11602,28601,21,States,states,None,Hearts in Atlantis
12,11602,28663,492,Stephen King,stephen-king,http://dbpedia.org/resource/Stephen_King,Hearts in Atlantis
13,11602,28683,24,Stephenking,stephenking,None,Hearts in Atlantis
14,11602,28668,14,Stephen King Read,stephen-king-read,http://dbpedia.org/resource/Stephen_King,Hearts in Atlantis
15,11602,28674,14,Stephen King To Read,stephen-king-to-read,http://dbpedia.org/resource/Stephen_King,Hearts in Atlantis
16,11602,28664,16,Stephen King Books,stephen-king-books,http://dbpedia.org/resource/Stephen_King,Hearts in Atlantis
17,11666,28601,21,States,states,None,Rabbit at Rest (Rabbit Angstrom #4)
18,11686,28601,6,States,states,None,The Stories of John Cheever
19,12659,28601,3,States,states,None,Texas
20,13130,28601,14,States,states,None,Judge & Jury
21,13130,28598,13,State,state,None,Judge & Jury
22,14469,28601,5,States,states,None,Selected Stories
23,15157,28601,6,States,states,None,Saving Faith
24,19670,28601,8,States,states,None,"Debt of Honor (Jack Ryan Universe, #8)"
25,19675,28601,17,States,states,None,"Executive Orders (Jack Ryan Universe, #9)"
26,19687,28601,8,States,states,None,"The Bear and the Dragon (Jack Ryan Universe, #11)"
27,19691,28601,18,States,states,None,"The Hunt for Red October (Jack Ryan Universe, #4)"
28,21745,28601,19,States,states,None,"Without Fail (Jack Reacher, #6)"
29,29925,28601,4,States,states,None,"Gods and Generals (The Civil War Trilogy, #1)"
...,...,...,...,...,...,...,...
351,13440,28663,1396,Stephen King,stephen-king,http://dbpedia.org/resource/Stephen_King,Skeleton Crew
352,13440,28683,19,Stephenking,stephenking,None,Skeleton Crew
353,13440,28668,14,Stephen King Read,stephen-king-read,http://dbpedia.org/resource/Stephen_King,Skeleton Crew
354,13440,28674,17,Stephen King To Read,stephen-king-to-read,http://dbpedia.org/resource/Stephen_King,Skeleton Crew
355,13440,28664,16,Stephen King Books,stephen-king-books,http://dbpedia.org/resource/Stephen_King,Skeleton Crew
356,13440,28680,10,Stephen_King,stephen_king,None,Skeleton Crew
357,18342,28663,2963,Stephen King,stephen-king,http://dbpedia.org/resource/Stephen_King,It
358,5571,28607,3,Stay Woke,stay-woke,None,Cradle to Cradle: Remaking the Way We Make Things
359,9549,28597,48,Starwars,starwars,None,Shadows of the Empire (Star Wars)
360,9820,28621,10,Stegner,stegner,None,Crossing to Safety
361,10765,28651,5,Stephen Clarke,stephen-clarke,http://dbpedia.org/resource/Stephen_Clarke_(sw...,A Year in the Merde
362,10914,28583,5,Started But Didn T Finish,started-but-didn-t-finish,None,Songs of the Humpback Whale
363,12663,28586,2,Started Didn T Finish,started-didn-t-finish,None,The Covenant
364,14383,28612,23,Steamy,steamy,None,No Rest for the Wicked (Immortals After Dark #3)
365,14384,28612,38,Steamy,steamy,None,A Hunger Like No Other (Immortals After Dark #2)
366,18750,28612,8,Steamy,steamy,None,"Beauty's Punishment (Sleeping Beauty, #2)"
367,25190,28612,5,Steamy,steamy,None,"Beauty's Release (Sleeping Beauty, #3)"
368,26581,28612,2,Steamy,steamy,None,Sleeping Beauty Box Set
369,26582,28612,12,Steamy,steamy,None,The Claiming of Sleeping Beauty (Sleeping Beau...
370,14662,28628,40,Stendhal,stendhal,http://dbpedia.org/resource/Stendhal,The Red and the Black
371,14680,28628,15,Stendhal,stendhal,http://dbpedia.org/resource/Stendhal,The Charterhouse of Parma
372,18419,28593,7,Starting School,starting-school,None,The Kissing Hand
373,22875,28678,26,Stephen R Donaldson,stephen-r-donaldson,http://dbpedia.org/resource/Stephen_R._Donaldson,The One Tree (The Second Chronicles of Thomas ...
374,22875,28656,17,Stephen Donaldson,stephen-donaldson,http://dbpedia.org/resource/Stephen_R._Donaldson,The One Tree (The Second Chronicles of Thomas ...
375,24807,28584,3,Started But Never Finished,started-but-never-finished,None,The Areas of My Expertise: An Almanac of Compl...
376,25148,28591,1,Started_But_Not_Finished,started_but_not_finished,None,The Fuck-Up
377,26506,28616,17,Steel Danielle,steel-danielle,None,Sisters
378,26506,28614,17,Steel,steel,None,Sisters
379,26506,28615,3,Steel Danielle,steel--danielle,None,Sisters
380,26596,28588,2,Started Never Finished,started-never-finished,None,"Complete Poems, 1904-1962"

In [227]:
# df_bt.head = df_bt.dropna

In [228]:
#df_bt["dbpedia_nodes"] = df_bt["clean_tag"].apply(find_dbpedia_node)

In [97]:
# print(max(df_bt.goodreads_book_id))
# print(max(df_bt.goodreads_book_id))
# print(min(df_bt.tag_id))
# print(max(df_bt.tag_id))

We will have the following node IDs: 
- **[0, 100,000]** - Goodreads book IDs
- **[100,000 - 200,000]** - Tag IDs 
- **[200,000 - 300,000]** - DBPedia Nodes

In [229]:
# create list of all nodes 
nodes = list(df_new["DBPedia_nodes"])
set_nodes = set([_ for _ in nodes if _ is not None])
set_nodes

{'http://dbpedia.org/resource/Lance_Stephenson',
 'http://dbpedia.org/resource/Steam',
 'http://dbpedia.org/resource/Steampunk',
 'http://dbpedia.org/resource/Stendhal',
 'http://dbpedia.org/resource/Stephanie_McMahon',
 'http://dbpedia.org/resource/Stephanie_Plum',
 'http://dbpedia.org/resource/Stephen_Clarke_(swimmer)',
 'http://dbpedia.org/resource/Stephen_Hawking',
 'http://dbpedia.org/resource/Stephen_King',
 'http://dbpedia.org/resource/Stephen_R._Donaldson'}

In [230]:
def generate_node_ids(set_nodes, node_to_id=None, current_id=200000): 
    """Function to generate IDs fo nodes for our graph from DBPedia nodes.
    arguments:  node_to_id - dictionary of node:id to use
               current_id - id to start
    returns: dictionary node_id
    """
    if node_to_id == None: 
        node_to_id = dict()
    #create dictionary with ids 
    for node in set_nodes: 
        node_to_id[node] = current_id 
        current_id +=1 
        
    return node_to_id

In [231]:
node_to_id = generate_node_ids(set_nodes)
node_to_id

{'http://dbpedia.org/resource/Stephen_Hawking': 200000,
 'http://dbpedia.org/resource/Stendhal': 200001,
 'http://dbpedia.org/resource/Stephanie_McMahon': 200002,
 'http://dbpedia.org/resource/Stephen_King': 200003,
 'http://dbpedia.org/resource/Stephanie_Plum': 200004,
 'http://dbpedia.org/resource/Stephen_R._Donaldson': 200005,
 'http://dbpedia.org/resource/Stephen_Clarke_(swimmer)': 200006,
 'http://dbpedia.org/resource/Steam': 200007,
 'http://dbpedia.org/resource/Steampunk': 200008,
 'http://dbpedia.org/resource/Lance_Stephenson': 200009}

In [232]:
def map_node_to_id(node, mapping = node_to_id): 
    if node is None: 
        return None 
    else: 
        return node_to_id[node]

In [233]:
df_bt["node_id"] = df_new["DBPedia_nodes"].apply(map_node_to_id)

In [239]:
#df_for_rdf = df_bt[["title", "count", "cleaned_tag", "DBPedia_nodes", "count"]]

In [240]:
#df_for_rdf

In [241]:
df_bt

,goodreads_book_id,tag_id,count,cleaned_tag,tag_name,DBPedia_nodes,title,node_id
0,25,28601,20,States,states,,I'm a Stranger Here Myself: Notes on Returning...,NaN
1,26,28601,8,States,states,,The Lost Continent: Travels in Small Town America,NaN
2,1067,28601,22,States,states,,1776,NaN
3,2203,28601,25,States,states,,John Adams,NaN
4,2203,28598,22,State,state,,John Adams,NaN
5,4138,28601,22,States,states,,Naked,NaN
6,4952,28601,21,States,states,,What Is the What,NaN
7,9742,28601,21,States,states,,The Audacity of Hope: Thoughts on Reclaiming t...,NaN
8,9742,28598,21,State,state,,The Audacity of Hope: Thoughts on Reclaiming t...,NaN
9,10878,28601,11,States,states,,The Great Shark Hunt: Strange Tales from a Str...,NaN
10,10882,28601,8,States,states,,Hell's Angels: A Strange and Terrible Saga,NaN
11,11602,28601,21,States,states,,Hearts in Atlantis,NaN
12,11602,28663,492,Stephen King,stephen-king,http://dbpedia.org/resource/Stephen_King,Hearts in Atlantis,200003.0
13,11602,28683,24,Stephenking,stephenking,,Hearts in Atlantis,NaN
14,11602,28668,14,Stephen King Read,stephen-king-read,http://dbpedia.org/resource/Stephen_King,Hearts in Atlantis,200003.0
15,11602,28674,14,Stephen King To Read,stephen-king-to-read,http://dbpedia.org/resource/Stephen_King,Hearts in Atlantis,200003.0
16,11602,28664,16,Stephen King Books,stephen-king-books,http://dbpedia.org/resource/Stephen_King,Hearts in Atlantis,200003.0
17,11666,28601,21,States,states,,Rabbit at Rest (Rabbit Angstrom #4),NaN
18,11686,28601,6,States,states,,The Stories of John Cheever,NaN
19,12659,28601,3,States,states,,Texas,NaN
20,13130,28601,14,States,states,,Judge & Jury,NaN
21,13130,28598,13,State,state,,Judge & Jury,NaN
22,14469,28601,5,States,states,,Selected Stories,NaN
23,15157,28601,6,States,states,,Saving Faith,NaN
24,19670,28601,8,States,states,,"Debt of Honor (Jack Ryan Universe, #8)",NaN
25,19675,28601,17,States,states,,"Executive Orders (Jack Ryan Universe, #9)",NaN
26,19687,28601,8,States,states,,"The Bear and the Dragon (Jack Ryan Universe, #11)",NaN
27,19691,28601,18,States,states,,"The Hunt for Red October (Jack Ryan Universe, #4)",NaN
28,21745,28601,19,States,states,,"Without Fail (Jack Reacher, #6)",NaN
29,29925,28601,4,States,states,,"Gods and Generals (The Civil War Trilogy, #1)",NaN
...,...,...,...,...,...,...,...,...
351,13440,28663,1396,Stephen King,stephen-king,http://dbpedia.org/resource/Stephen_King,Skeleton Crew,200003.0
352,13440,28683,19,Stephenking,stephenking,,Skeleton Crew,NaN
353,13440,28668,14,Stephen King Read,stephen-king-read,http://dbpedia.org/resource/Stephen_King,Skeleton Crew,200003.0
354,13440,28674,17,Stephen King To Read,stephen-king-to-read,http://dbpedia.org/resource/Stephen_King,Skeleton Crew,200003.0
355,13440,28664,16,Stephen King Books,stephen-king-books,http://dbpedia.org/resource/Stephen_King,Skeleton Crew,200003.0
356,13440,28680,10,Stephen_King,stephen_king,,Skeleton Crew,NaN
357,18342,28663,2963,Stephen King,stephen-king,http://dbpedia.org/resource/Stephen_King,It,200003.0
358,5571,28607,3,Stay Woke,stay-woke,,Cradle to Cradle: Remaking the Way We Make Things,NaN
359,9549,28597,48,Starwars,starwars,,Shadows of the Empire (Star Wars),NaN
360,9820,28621,10,Stegner,stegner,,Crossing to Safety,NaN
361,10765,28651,5,Stephen Clarke,stephen-clarke,http://dbpedia.org/resource/Stephen_Clarke_(sw...,A Year in the Merde,200006.0
362,10914,28583,5,Started But Didn T Finish,started-but-didn-t-finish,,Songs of the Humpback Whale,NaN
363,12663,28586,2,Started Didn T Finish,started-didn-t-finish,,The Covenant,NaN
364,14383,28612,23,Steamy,steamy,,No Rest for the Wicked (Immortals After Dark #3),NaN
365,14384,28612,38,Steamy,steamy,,A Hunger Like No Other (Immortals After Dark #2),NaN
366,18750,28612,8,Steamy,steamy,,"Beauty's Punishment (Sleeping Beauty, #2)",NaN
367,25190,28612,5,Steamy,steamy,,"Beauty's Release (Sleeping Beauty, #3)",NaN
368,26581,28612,2,Steamy,steamy,,Sleeping Beauty Box Set,NaN
369,26582,28612,12,Steamy,steamy,,The Claiming of Sleeping Beauty (Sleeping Beau...,NaN
370,14662,28628,40,Stendhal,stendhal,http://dbpedia.org/resource/Stendhal,The Red and the Black,200001.0
371,14680,28628,15,Stendhal,stendhal,http://dbpedia.org/resource/Stendhal,The Charterhouse of Parma,200001.0
372,18419,28593,7,Starting School,starting-school,,The Kissing Hand,NaN
373,22875,28678,26,Stephen R Donaldson,stephen-r-donaldson,http://dbpedia.org/resource/Stephen_R._Donaldson,The One Tree (The Second Chronicles of Thomas ...,200005.0
374,22875,28656,17,Stephen Donaldson,stephen-donaldson,http://dbpedia.org/resource/Stephen_R._Donaldson,The One Tree (The Second Chronicles of Thomas ...,200005.0
375,24807,28584,3,Started But Never Finished,started-but-never-finished,,The Areas of My Expertise: An Almanac of Compl...,NaN
376,25148,28591,1,Started_But_Not_Finished,started_but_not_finished,,The Fuck-Up,NaN
377,26506,28616,17,Steel Danielle,steel-danielle,,Sisters,NaN
378,26506,28614,17,Steel,steel,,Sisters,NaN
379,26506,28615,3,Steel Danielle,steel--danielle,,Sisters,NaN
380,26596,28588,2,Started Never Finished,started-never-finished,,"Complete Poems, 1904-1962",NaN

In [242]:
df_bt.to_csv('tags_with_nodes_ids_temp.csv')

In [ ]:
#free text 
#books:book_id? books:has_tag ? books:

permalink,company,numEmps,category,city,state,fundedDate,raisedAmt,raisedCurrency,round
lifelock,LifeLock,,web,Tempe,AZ,1-May-07,6850000,USD,http://example.com/b
lifelock,LifeLock,,web,Tempe,AZ,1-Oct-06,6000000,USD,<http://example.com/a>

,goodreads_book_id,tag_id,count,cleaned_tag,tag_name,DBPedia_nodes,title,node_id
0,25,28601,20,States,states,,I'm a Stranger Here Myself: Notes on Returning to America after Twenty Years Away,

In [ ]:
# count how many of the tags have representing DBPedia nodes 
print(len(df_bt[df_bt["dbpedia_nodes"] is not None]))
#or if this does not work: 
df_bt_dropna = df_bt.dropna()
print(df_bt_dropna)

In [ ]:
# for every node in DBPedia, create node_id
#TODO: 
#1. Create mapping from DBPedia nodes to node_ids
#2. Create a new dataframe, such that: 
# - tags are replaced by their corresponding id 
# - if one edge tag-node occurs several times, add up all the count values and write a single edge

In [ ]:
# create list of all nodes 
nodes = np.array(df_bt["authors_list"]).flatten()

In [2]:
import hashlib